#middle{  width:960px;  margin:0px auto;   }
#m_left{ width:225px; float:left;  }
#m_right{width:735px; float:left;}
#m_right1{width:730px; float:left; margin-left:5px; }
/*首页首页首页首页首页*/
#box{ width:735px;    }
#box_left{width:507px; margin:0px 5px; float:left; display:inline; }
#box_right{ width:218px; float:left;}
#contentProductsbody{ width:507px;  clear:both; padding-top:5px; }
#contentProductsbody p{ width:507px; height:35px; background:url(../IMAGES/contentProduct_title.gif) no-repeat; line-height:35px;  margin:0; padding:0; }
#contentProducts{  width:505px; height:413px; BORDER-RIGHT: #cfe0e6 1px solid;  BORDER-LEFT: #cfe0e6 1px solid; border-bottom:#cfe0e6 1px solid;  }
.newproducts_more a{  color:#0099FF; text-decoration:none; float:right; margin-top:8px; margin-right:10px;}
.newproducts_more a:hover{ color:#ff6600; text-decoration:underline;}
#riama_bantitle{background:url(../IMAGES/service_top.gif) no-repeat; height:68px;  }
#riama_center{ border-left: #d3d2d3 1px solid; border-right: #d3d2d3 1px solid; height:106px;}
#riama_center ul{margin-left:5px; width:180px;}
#riama_center li{ background:url(../IMAGES/icod.gif) no-repeat left; line-height:25px; text-align:left; margin-top:5px;}
.jingji{ margin-left:30px;}
.qqonline{ margin-left:10px;}
#riama_ban ul{list-style:none;  }
#riama_ban li{}
.riama_bottmo{ background:url(../IMAGES/infoFoot218.gif) no-repeat; height:8px; font-size:0px;}
#riamb_bantitle{background:url(../IMAGES/News_title.gif) no-repeat; height:29px;  margin-top:5px;  }
#riamb_center{ border-left: #d3d2d3 1px solid; border-right: #d3d2d3 1px solid; height:200px;padding:10px;}
#production{ width:730px;   clear:both;  margin-left:5px; padding-top:5px;  }
#riamc_bantitle{background:url(../IMAGES/new_products.gif) no-repeat; height:37px;   }
#riamc_center{ border-left: #d3d2d3 1px solid; border-right: #d3d2d3 1px solid;border-bottom: #d3d2d3 1px solid; height:140px;}
#riamd_bantitle{background:url(../IMAGES/Article_title.gif) no-repeat; height:29px;  margin-top:5px;  }
#riamd_center{ border-left: #d3d2d3 1px solid; border-right: #d3d2d3 1px solid; height:200px; padding:10px;}
#infoHead{ background:url(../IMAGES/bulletin_title.gif) no-repeat; height:28px; font: bold 14px/180% Tahoma,Verdana, sans-serif; color:#FFFFFF;}
.infocenter{ border-left: #dbdbdb 1px solid; border-right: #dbdbdb 1px solid; padding-left:10px; padding-right:10px; padding-top:10px; }
.infobottom{ background:url(../IMAGES/infoFoot.gif) no-repeat; height:8px; font-size:0px;  }
.infoHead1{ background:url(../IMAGES/infoHead.gif) no-repeat; height:11px; font-size:0px; margin-top:5px;}
.infoname{ margin:0px; padding:0px;font: bold 14px/100% Tahoma,Verdana, sans-serif; color: #000000; background:url(../IMAGES/title1.gif) no-repeat; background-position:25% 10%;}
.hrproductsClass{ color:#d9d9d9; height:2px; width:95%;}
/*首页首页首页首页首页*/
/*商品商品商品商品商品商品*/
#productshow{height:150px;BORDER: #dbdbdb 1px solid; padding-top:15px;}
#productAD{ height:100px; margin-top:3px; BORDER: #dbdbdb 1px solid;}
#allproductsClass{border-left: #dbdbdb 1px solid; border-right: #dbdbdb 1px solid; border-bottom:#dbdbdb 1px solid;}
#productClass{ background:url(../IMAGES/productClass.gif) no-repeat; height:37px; margin-top:5px;}
/* 我要易入易物动态定义*/
#TopBrandSale{
	float:left;
	width:225px;
	height:190px;
	overflow:hidden;
	background:url(../IMAGE/topbrandsale_bg.gif) no-repeat;
}
#TopBrandSale h2{
	color:#636363;
	font:14px;
	margin-top:5px;
}
#TopBrandSale ul{
width:210px;
margin-left:10px;
margin-right:10px;
}
#TopBrandSale ul li{
	float:left;
	overflow:hidden;
}




/*商品商品商品商品商品商品*/