BODY {
	FONT-SIZE: 12px;
	margin:0;
	text-align:center;
	background-color:#FFF;

}

IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
	FONT: 12px "宋体"; background-color:#F3F8FC; border:#D2E4EE 1px solid;
}
.notetop{padding:0px 10px 5px 0px;margin:10px 0 0;background:url(../IMAGES/point_btn_03.gif) #FFF9D9 5px 5px no-repeat;border:1px solid #FFCC33;line-height:150%}

SELECT {
	FONT: 12px "宋体"; COLOR: #333
}
TEXTAREA {
	FONT: 12px "宋体"; COLOR: #333
}

SPAN {
	FONT: 12px "宋体"; COLOR: #333
}

.clear {
	CLEAR: both; VISIBILITY: hidden
}
.debug {
	BORDER-RIGHT: #f0f 1px dashed; BORDER-TOP: #f0f 1px dashed; BORDER-LEFT: #f0f 1px dashed; BORDER-BOTTOM: #f0f 1px dashed
}

a:link,a:visited{
	color:#0044DD;
	text-decoration:none;
}
a:hover,a:active{
	color:#FF5500;
	text-decoration:underline;
}

a.U:link,a.U:visited{
	color:#0044DD;
	text-decoration:underline;
}
a.U:hover,a.U:active{
	color:#FF5500;
	text-decoration:underline;
} 


a.bigclassname:link,a.bigclassname:visited{ 
    font-weight:bold;
	color:#0044DD;
	font-size:13px;
}
a.bigclassname:hover,a.bigclassname:active{
	color:#FF5500;
	font-size:13px;
	text-decoration:underline;
}    
a.classname:link,a.classname:visited,a.classname:active{ 
	color:#5D89DF;
	padding-left:4px;
	padding-right:4px;
}
a.classname:hover{
	color:#FF5500;
	text-decoration:underline;
	padding:0px 5px 0 4px;;
}



.font_orange {
	COLOR: #ff4e00
}
.left_list {
	BORDER-RIGHT: #e6e6e6 1px solid; PADDING-LEFT: 12px; BACKGROUND: #f4f4f4; BORDER-LEFT: #e6e6e6 1px solid
}
.left_list_ad {
	BORDER-RIGHT: #e6e6e6 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #e6e6e6 1px solid; TEXT-ALIGN: center
}
.LeftHead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; BACKGROUND: url(../IMAGES/left_bg_notice.gif); PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 5px; HEIGHT: 18px
}
.line_main {
	LINE-HEIGHT: 150%
}

#foot_search {
	MARGIN-TOP: 10px; BACKGROUND: url(../IMAGES/foot_bg_03.gif); PADDING-TOP: 10px; HEIGHT: 31px; TEXT-ALIGN: center
}
#FootLink {
	MARGIN: 0px auto; WIDTH: 760px
}
#FootLink DIV.ChannelLink {
	FLOAT: left; WIDTH: 25%
}
#FootLink DIV.ChannelLinkShow A {
	PADDING-LEFT: 15px; BACKGROUND: url(../IMAGES/foot_btn_list.gif) no-repeat 5px 3px; LINE-HEIGHT: 150%
}
#FootLink UL {
	BORDER-RIGHT: #dedede 1px dashed; MARGIN-TOP: 15px; FLOAT: left; WIDTH: 94px; TEXT-ALIGN: center
}
#head_roll {
	OVERFLOW: hidden; HEIGHT: 20px
}
#head_roll LI {
	HEIGHT: 20px
}
#index_left {
	FLOAT: left; WIDTH: 233px
}
#index_side {
	MARGIN-LEFT: 240px; WIDTH: 516px
}
#LeftFree {
	BORDER-RIGHT: #e6e6e6 1px solid; BACKGROUND: #f4f4f4; BORDER-LEFT: #e6e6e6 1px solid
}
#sort_list A.lk14_blue_b:link {
	FONT: bold 14px "宋体"; COLOR: #1835d1; TEXT-DECORATION: none
}
#sort_list A.lk14_blue_b:visited {
	FONT: bold 14px "宋体"; COLOR: #1835d1; TEXT-DECORATION: none
}
#sort_list A.lk14_blue_b:active {
	FONT: bold 14px "宋体"; COLOR: #1835d1; TEXT-DECORATION: none
}
#sort_list A.lk14_blue_b:hover {
	FONT: bold 14px "宋体"; COLOR: #1835d1; TEXT-DECORATION: none
}
#sort_list A:hover {
	LEFT: 1px; POSITION: relative; TOP: 1px
}
#sort_list DIV.ListHead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; BACKGROUND: url(../IMAGES/side_bg_04.gif) no-repeat 0px 7px; PADDING-BOTTOM: 2px; PADDING-TOP: 6px
}
#sort_list DIV.ListMain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 16px; PADDING-BOTTOM: 6px; MARGIN: 0px; FONT: 12px/150% "宋体"; PADDING-TOP: 0px
}
#sort_list TD {
	PADDING-LEFT: 7px
}
#sort_list SPAN {
	PADDING-RIGHT: 2px; COLOR: #dddddd; LINE-HEIGHT: 150%
}
#foot {
	MARGIN: 10px 0px 12px; LINE-HEIGHT: 150%; TEXT-ALIGN: center
}
#foot_link {
	PADDING-BOTTOM: 4px; MARGIN: 7px auto; WIDTH: 760px; BORDER-BOTTOM: #d7d7d7 1px solid
}
#headLink A:link {
	COLOR: #1835d1; TEXT-DECORATION: none
}
#headLink A:visited {
	COLOR: #1835d1; TEXT-DECORATION: none
}
#headInfo A:link {
	COLOR: #1835d1; TEXT-DECORATION: none
}
#headInfo A:visited {
	COLOR: #1835d1; TEXT-DECORATION: none
}
#foot A:link {
	COLOR: #1835d1; TEXT-DECORATION: none
}
#foot A:visited {
	COLOR: #1835d1; TEXT-DECORATION: none
}
#headLink A:active {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
#headLink A:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
#headInfo A:active {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
#headInfo A:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
#foot A:active {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
#foot A:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}

#headV2 {
	MARGIN-TOP: 7px
}
#headMain {
	MARGIN: 0px auto; WIDTH: 760px; POSITION: relative; HEIGHT: 66px; TEXT-ALIGN: right
}
#headLogo {
	LEFT: 0px; POSITION: absolute; TOP: -7px
}
#headLink {
	BACKGROUND: url(../IMAGES/line.gif) no-repeat right bottom; FONT-FAMILY: Verdana; HEIGHT: 18px
}
#headInfo {
	PADDING-RIGHT: 40px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; COLOR: #545454; PADDING-TOP: 4px; FONT-FAMILY: Verdana; HEIGHT: 20px
}
#headMenu {
	PADDING-LEFT: 5px
}
#headFind {
	MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 760px; HEIGHT: 34px
}
#headFind2 {
	MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 98%; HEIGHT: 34px
}
#headForm {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 8px; HEIGHT: 26px; TEXT-ALIGN: left
}
.findInto {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; BORDER-LEFT: #808080 1px solid; WIDTH: 240px; COLOR: gray; BORDER-BOTTOM: #808080 1px solid; HEIGHT: 16px
}
.findGoto {
	BACKGROUND: url(../IMAGES/find_bg.gif) no-repeat; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; BORDER-BOTTOM-STYLE: none
}
#menuFind A {
	COLOR: #fff; TEXT-DECORATION: underline
}
#menuFind A:hover {
	COLOR: #ff4e00
}
#menuItem {
	FONT-FAMILY: "宋体"; HEIGHT: 24px
}
#menuItem A {
	DISPLAY: block; BACKGROUND: url(../IMAGES/main_left.gif) #ebebeb no-repeat left top; FLOAT: left; HEIGHT: 24px; TEXT-DECORATION: none
}
#menuItem A SPAN {
	PADDING-RIGHT: 13px; DISPLAY: block; PADDING-LEFT: 13px; BACKGROUND: url(../IMAGES/main_side.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; CURSOR: hand; COLOR: #000000; PADDING-TOP: 7px; HEIGHT: 17px; TEXT-ALIGN: center
}
#menuItem LI {
	FLOAT: left; MARGIN-RIGHT: 3px; HEIGHT: 24px
}
#menuItem LI#menuBook A:hover {
	BACKGROUND: url(../IMAGES/book_left.gif) #1d7d8b no-repeat left top
}
#menuItem LI#menuBook A:hover SPAN {
	BACKGROUND: url(../IMAGES/book_side.gif) no-repeat right top; COLOR: #ffffff
}
#menuItem LI#menuDigital A:hover {
	BACKGROUND: url(../IMAGES/digital_left.gif) #8b94a2 no-repeat left top
}
#menuItem LI#menuDigital A:hover SPAN {
	BACKGROUND: url(../IMAGES/digital_side.gif) no-repeat right top; COLOR: #ffffff
}
#menuItem LI#menuGame A:hover {
	BACKGROUND: url(../IMAGES/game_left.gif) #784544 no-repeat left top
}
#menuItem LI#menuGame A:hover SPAN {
	BACKGROUND: url(../IMAGES/game_side.gif) no-repeat right top; COLOR: #ffffff
}
#menuItem LI#menuHome A:hover {
	BACKGROUND: url(../IMAGES/home_left.gif) #ffa730 no-repeat left top
}
#menuItem LI#menuHome A:hover SPAN {
	BACKGROUND: url(../IMAGES/home_side.gif) no-repeat right top; COLOR: #ffffff
}
#menuItem LI#menuLady A:hover {
	BACKGROUND: url(../IMAGES/lady_left.gif) #f0447d no-repeat left top
}
#menuItem LI#menuLady A:hover SPAN {
	BACKGROUND: url(../IMAGES/lady_side.gif) no-repeat right top; COLOR: #ffffff
}
#menuItem LI#menuQ A:hover {
	BACKGROUND: url(../IMAGES/q_left.gif) #32c1ec no-repeat left top
}
#menuItem LI#menuQ A:hover SPAN {
	BACKGROUND: url(../IMAGES/q_side.gif) no-repeat right top; COLOR: #ffffff
}
#menuItem LI#menuSale A:hover {
	BACKGROUND: url(../IMAGES/sale_left.gif) #97c03d no-repeat left top
}

#menuItem LI#menuSale A:hover SPAN {
	BACKGROUND: url(../IMAGES/sale_side.gif) no-repeat right top; COLOR: #ffffff
}
#menuItem LI#menuSport A:hover {
	BACKGROUND: url(../IMAGES/sport_left.gif) #60b900 no-repeat left top
}
#menuItem LI#menuSport A:hover SPAN {
	BACKGROUND: url(../IMAGES/sport_side.gif) no-repeat right top; COLOR: #ffffff
}
#menuItem LI#menuStudent A:hover {
	BACKGROUND: url(../IMAGES/student_left.gif) #ff6100 no-repeat left top
}
#menuItem LI#menuStudent A:hover SPAN {
	BACKGROUND: url(../IMAGES/student_side.gif) no-repeat right top; COLOR: #ffffff
}
#headFind {
	BACKGROUND: url(../IMAGES/home_find_left.gif) #ffa730 no-repeat left top
}
#headFind2 {
	BACKGROUND: url(../IMAGES/home_find_left.gif) #ffa730 no-repeat left top
}
#headForm {
	BACKGROUND: url(../IMAGES/home_find_side.gif) no-repeat right top
}

#hotLink {
	BACKGROUND: url(../IMAGES/hotLinkEnd.gif) no-repeat 50% bottom
}
#hotLinkMain {
	BORDER-RIGHT: #fda531 1px solid; OVERFLOW: hidden; BORDER-LEFT: #fda531 1px solid; HEIGHT: 168px
}
#hotLinkMore {
	TEXT-ALIGN: center
}
#hotLinkMore DIV {
	BORDER-RIGHT: #ffe79b 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ffe79b 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffe79b 1px solid; WIDTH: 135px; PADDING-TOP: 1px; BORDER-BOTTOM: #ffe79b 1px solid; HEIGHT: 20px
}
#hotLinkMore DIV SPAN.linkImg {
	DISPLAY: block; PADDING-LEFT: 1px; BACKGROUND: url(../IMAGES/hotLinkBg.gif) repeat-x; HEIGHT: 20px; TEXT-ALIGN: left
}

#result {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #808080 1px solid; BACKGROUND: #fff; LEFT: 170px; OVERFLOW: hidden; BORDER-LEFT: #808080 1px solid; WIDTH: 240px; COLOR: gray; BORDER-BOTTOM: #808080 1px solid; POSITION: absolute; TOP: -5px
}
#result A {
	DISPLAY: block; CURSOR: hand; BORDER-BOTTOM: #baddfd 1px dotted; POSITION: relative; HEIGHT: 20px; TEXT-DECORATION: none
}
#result A:hover {
	BACKGROUND: #e5f5ff; TEXT-DECORATION: none
}
#result A.activeLink {
	BACKGROUND: #e5f5ff; TEXT-DECORATION: none
}
#result .resultName {
	LEFT: 10px; OVERFLOW: hidden; WIDTH: 120px; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 5px; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
#result .resultCount {
	RIGHT: 10px; OVERFLOW: hidden; WIDTH: 100px; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 5px; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: right
}
.news {
font-size:12px
}
	table#navddd {
		
		
	}
	table#navddd td{
		text-align:center;
		font:14px verdana;
		line-height:22px;
		
	}
	table#navddd td a{
		margin:0;
		padding:0;
	}
	#navddd td a:link,#navddd td a:visited{
	margin:0;
	height:22px;
	width:50px;
	color: #000000;
	background-image: url(../IMAGES/head1.gif);
	font-size:12px;	
	padding-top:5px;
	}
	#navddd td a:hover{
	margin:0;
	width:50px;
	height:22px;
	color: #ffffff;
	text-decoration: none;
	background-image: url(../IMAGES/head2.gif);
	padding-top:5px;
	font-size:12px;	
	}
	
#headV2 #headMenuSimple LI A {
	COLOR: #333; FONT-FAMILY: "宋体"
}

#headMenuSimple {
	BACKGROUND: url(../IMAGES/menu_left.gif) #f0f0f0 no-repeat left 50%; MARGIN-LEFT: 130px; HEIGHT: 21px
}
#headMenuSimple UL {
	PADDING-LEFT: 7px; BACKGROUND: url(../IMAGES/menu_side.gif) no-repeat right 50%; HEIGHT: 21px
}
#headMenuSimple LI {
	PADDING-RIGHT: 7px; PADDING-LEFT: 3px; BACKGROUND: url(../IMAGES/menu_main.gif) no-repeat right 50%; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; HEIGHT: 16px
}

.divfont14{
	font-size:14px;
	color:#FF9900;
	font-weight:bold;
}
A.yellow12:link {
	FONT-SIZE: 12px; COLOR: #fffc0c; TEXT-DECORATION: underline
}
A.yellow12:visited {
	FONT-SIZE: 12px; COLOR: #fffc0c; TEXT-DECORATION: underline
}
A.yellow12:hover {
	FONT-SIZE: 12px; COLOR: #fffc0c; TEXT-DECORATION: none
}
A.gray12:link {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
A.gray12:visited {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: none
}
A.gray12:hover {
	FONT-SIZE: 12px; COLOR: #666666; TEXT-DECORATION: underline
}

#topswf{background: url(../swf/topbg990-146.jpg) no-repeat top left; height:146px; }
#topflash{ background:#0000CC;}
.topmenu{ clear:both; height:26px; width:560px;  background:#003399;}
.topmenu ul{ list-style:none;}
.topmenu li{ float:left; width:82px; height:26px;}

.intelligent {
	DISPLAY: inline; Z-INDEX: 9; POSITION: relative; 
}
.intelligentList {
	BORDER-RIGHT: #8e8e8e 1px solid; BORDER-TOP: #8e8e8e 1px solid; Z-INDEX: 777; BACKGROUND: #fff; LEFT: 0px; BORDER-LEFT: #8e8e8e 1px solid; WIDTH: 430px; PADDING-TOP: 6px; BORDER-BOTTOM: #8e8e8e 1px solid; POSITION: absolute; TOP: 22px
}
.intelligent INPUT#forsearch {
	PADDING-LEFT: 3px; WIDTH: 149px
}
.intelligentList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.intelligentList {
	BACKGROUND: #fff; WIDTH: 430px; PADDING-TOP: 6px; TEXT-ALIGN: left
}
.intelligentList DIV SPAN {
	FLOAT: right
}
.intelligentList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.intelligentList DIV {
	BORDER-RIGHT: #fff 2px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 2px solid; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 2px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 2px solid
}
.intelligentList A {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; COLOR: #000! important; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.intelligentList A SPAN {
	COLOR: green
}
.intelligentList A:visited {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; COLOR: #000! important; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.intelligentList A:visited SPAN {
	COLOR: green
}
.intelligentList A.current DIV {
	BORDER-RIGHT: #3366cc 2px solid; BORDER-TOP: #3366cc 2px solid; BACKGROUND: #3366cc; BORDER-LEFT: #3366cc 2px solid; COLOR: #fff; BORDER-BOTTOM: #3366cc 2px solid
}
.intelligentList A.current:visited DIV SPAN {
	COLOR: #fff
}
.intelligentList A.current DIV SPAN {
	COLOR: #fff
}
.intelligent .intelligentIframeMask {
	Z-INDEX: 776; BACKGROUND: #fff; LEFT: 0px; WIDTH: 430px; POSITION: absolute; TOP: 28px; HEIGHT: 10px
}
.intelligentList .intelligentListTitle {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 11px; BACKGROUND: #edf1f9; MARGIN: 0px; CURSOR: pointer; COLOR: #4d4d4d; TEXT-INDENT: 5px; BORDER-BOTTOM: #d5e1ee 1px solid; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.intelligentList .intelligentListTitle SPAN {
	PADDING-RIGHT: 5px; MARGIN-TOP: -19px; DISPLAY: block; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/intelligent_upIcon.gif) no-repeat left center; FLOAT: right; TEXT-INDENT: 12px; TEXT-DECORATION: underline
}
.intelligentList .showSearchSuggestion {
	PADDING-LEFT: 14px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/intelligent_downIcon.gif) #edf1f9 no-repeat 3px center; MARGIN-LEFT: 0px; WIDTH: 345px; CURSOR: pointer; COLOR: #4d4d4d; TEXT-INDENT: 5px; BORDER-BOTTOM: #d5e1ee 1px solid; HEIGHT: 20px; TEXT-DECORATION: underline
}
.searchBox {
	TEXT-ALIGN: center; margin-top:10px;
}
#main960 {
	MARGIN:0 auto; WIDTH: 960px; margin-top:-12px;
}
#mainleft{ width:225px; float:left;}
#content{ width:505px; margin-left:5px; margin-top:2px; float:left; }
#container1,#container2{
	BORDER-RIGHT: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; width:223px; 
}
.infoHead{margin-top:3px;}
#ArticleinfoHead{ width:223px; height:24px;  text-align:center;FONT-SIZE: 14px; FONT-WEIGHT: bold; color:#FFFFFF; margin-top:0px; padding-top:5px;}
#Article_list{width:200px; margin-left:15px;}
.font14 {
	FONT-SIZE: 14px
}
.b {
	FONT-WEIGHT: bold
}
.hrproductsClass{ color:#d9d9d9; height:2px; width:95%;}


/* 中间广告动画栏 */
#products_ad{ width:505px; height:180px; float:left; border:#666666 1px solid; }
.focusPic { margin-top:0px; OVERFLOW: hidden;  WIDTH: 505px;  POSITION: relative;HEIGHT: 180px; padding-left:0px;}
.focusPicNum {Z-INDEX: 99; right: 0px; POSITION: absolute; TOP: 160px;MARGIN: 3px}


#contentRight{ margin-left:5px; width:218px; height:180px; float:left;}  
#Right_onlineHead{ height:68px;}
#Right_article{BORDER-RIGHT: #d3d2d3 1px solid; BORDER-LEFT: #d3d2d3 1px solid; width:216px; height:90px;}
#Right_article ul{ clear:both; margin-left:25px;}
#Right_article li{ list-style:none; }
#Right_onlineBottom{ line-height:0px; clear:both; height:8px; margin-top:0px;}
#contentProduct_title{ margin-top:3px; width:507px; }



#contentProducts{  width:505px; BORDER-RIGHT: #cfe0e6 1px solid; BORDER-LEFT: #cfe0e6 1px solid; border-bottom: #cfe0e6 1px solid;padding-top:20px; padding-bottom:10px; }

#newProducts{  margin-top:3px; width:730px;}

#prolist{BORDER-RIGHT: #cfe0e6 1px solid; BORDER-LEFT: #cfe0e6 1px solid; border-bottom: #cfe0e6 1px solid;padding-top:20px; padding-bottom:10px;}
.newproducts_more a{ float:right; margin-top:10px; margin-right:20px; color:#0099FF; text-decoration:none;}
.newproducts_more a:hover{ color:#ff6600; text-decoration:underline;}

#Articletitle_img{}
#contentArticle{ BORDER-RIGHT: #cfe0e6 1px solid; BORDER-LEFT: #cfe0e6 1px solid; border-bottom: #cfe0e6 1px solid; padding:10px 5px 5px 15px;}



.main760 {
	MARGIN: 0px auto; WIDTH: 760px;
}

#loginLeft {
	FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 381px; PADDING-TOP: 32px
}
#loginSide {
	FLOAT: right; WIDTH: 294px; MARGIN-RIGHT: 10px; PADDING-TOP: 32px; POSITION: relative;text-align:left; 
}
#loginSide LI{list-style:none;}
#loginHead {
	PADDING-LEFT: 25px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(../image/login_head.gif) no-repeat; COLOR: #fff; LINE-HEIGHT: 27px; HEIGHT: 27px;
}
#loginAuto {
	BORDER-RIGHT: #55a1ef 1px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #55a1ef 1px dashed; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 10px; BORDER-LEFT: #55a1ef 1px dashed; PADDING-TOP: 10px; BORDER-BOTTOM: #55a1ef 1px dashed
}
#loginHelp LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 80px; BACKGROUND: url(../image/login_libg.gif) no-repeat 65px 16px; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
#loginMain {
	BORDER-RIGHT: #57a0ed 1px solid; BORDER-TOP: #57a0ed 1px solid; BACKGROUND: #eef5ff; MARGIN-BOTTOM: 25px; PADDING-BOTTOM: 10px; BORDER-LEFT: #57a0ed 1px solid; BORDER-BOTTOM: #57a0ed 1px solid
}
#loginMain LI {
	PADDING-LEFT: 10px; MARGIN-BOTTOM: 5px;text-align:left; list-style:none;
}
#loginMain .liNull {
	PADDING-LEFT: 72px;
}

#footer {
CLEAR: both; 
PADDING-RIGHT: 0px; 
BORDER-TOP: #ccc 1px solid; 
MARGIN-TOP:0px; 
PADDING-LEFT: 0px; 
PADDING-BOTTOM: 5px; 
FONT-SIZE: 12px;
PADDING-TOP: 5px; 
TEXT-ALIGN: center
}

ul.Form_Advance{
	list-style:none;
	margin:0;
	padding:0;
}
ul.Form_Advance li{
	width:100%;
	clear:both;
	margin-bottom:5px !important;
	margin-bottom:0px;
}

/* 我要易入 的页面 易物动态 的 定义*/

#TopBrandSale{
	float:left;
	width:225px;
	height:190px;
	overflow:hidden;
	background:url(../IMAGE/topbrandsale_bg.gif) no-repeat;
}
#TopBrandSale h2{
	color:#636363;
	font:14px;
	margin-top:5px;
}
#TopBrandSale ul{
width:210px;
margin-left:10px;
margin-right:10px;
}
#TopBrandSale ul li{
	float:left;
	overflow:hidden;
}
/*易物流程定义*/
#liucheng{}
#liuchengflow{BORDER-RIGHT: #dbdbdb 1px solid; BORDER-LEFT: #dbdbdb 1px solid; width:223px;}

/*我要易入 页面内 易物分类 */
#mainright{ clear:both; background:#CCCCCC; width:500px; height:300px;}
.productshow{height:120px; background:#CCCCCC;}
.productAD{ height:100px; margin-top:3px; background:#CCCCCC;}
.allproductsClass{margin-top:3px;}
