/** Changehope.com Global CSS Version 1.3 2007.11.16 **/

* html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* compatible for v1.3 */ 
body,p,th,td,input,select,textarea{
    font-size:12px;
    color:#111111;
}
body{
	margin:0;
	padding:0 10px 0 10px;
	text-align:center;
	background-color:#FFF;
}

input{ background-color:#F3F8FC; border:#D2E4EE 1px solid;}

table{
	text-align:left;
}
p{
	margin:15px 0 15px 0;
	padding:3px 0 3px 0;
}
hr{
	border:#000000 0 solid;
	border-top: #D1D7DC 1px solid;
	height: 0;
}
img{
	border:0;
}
form{
	margin:0;
	padding:0;
}

.B,H1,.boldFontSize12{
	font-size:12px;
	font-weight:bold;
	
}
.C,.fontSize14 {
	font-size:14px;
}

.CB,.M,.L,.boldFontSize14{
	font-size:14px;
	font-weight:bold;
}

.D,.C1,.fontSize16{
	font-size:16px;
}

.DB,.boldFontSize16{
	font-size:16px;
	font-weight:bold;
}

.H{
	color:#FF5500;
}

.G{
	color:#666666;
}

.EN{
	font-family: Arial;
}

.LM {
	line-height:120%;
}

.LL{
	line-height:150%;
}

.LG{
	line-height:200%;
}

.ImgB {
	border: 1px solid #DDDDDD;
}

a:link,a:visited{
	color:#0044DD;
	text-decoration:none;
}
a:hover,a:active{
	color:#FF5500;
	text-decoration:underline;
}

a.U:link,a.U:visited{
	color:#0044DD;
	text-decoration:underline;
}
a.U:hover,a.U:active{
	color:#FF5500;
	text-decoration:underline;
}  



a.bigclassname:link,a.bigclassname:visited{ 
    font-weight:bold;
	color:#0044DD;
	font-size:13px;
}
a.bigclassname:hover,a.bigclassname:active{
	color:#FF5500;
	font-size:13px;
	text-decoration:underline;
}    
a.classname:link,a.classname:visited,a.classname:active{ 
	color:#5D89DF;
	padding-left:4px;
	padding-right:4px;
}
a.classname:hover{
	color:#FF5500;
	text-decoration:underline;
	padding:0px 5px 0 4px;;
}

.mainCategory {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 4px! important; WIDTH: 178px; PADDING-TOP: 4px! important; POSITION: relative
}
.mainCategory UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 1em/120% tahoma; WIDTH: 178px; PADDING-TOP: 0px
}
.mainCategory LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2px 1px; WIDTH: 177px; PADDING-TOP: 0px
}
.mainCategory LI STRONG {
	FONT-SIZE: 1.0em
}
.mainCategory LI A {
	BORDER-RIGHT: #fffbef 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fffbef 2px solid; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: #fffbef 1px solid; WIDTH: 165px; PADDING-TOP: 2px; BORDER-BOTTOM: #fffbef 1px solid
}
.mainCategory LI A:hover {
	BORDER-RIGHT: #ffb74b 1px solid; BORDER-TOP: #fc8c2a 2px solid; BORDER-LEFT: #ffb74b 1px solid; BORDER-BOTTOM: #ffb74b 1px solid; BACKGROUND-COLOR: #fff1d1
}
.mainCategory LI.current A {
	BORDER-RIGHT: #ffb74b 1px solid; BORDER-TOP: #fc8c2a 2px solid; BORDER-LEFT: #ffb74b 1px solid; BORDER-BOTTOM: #ffb74b 1px solid; BACKGROUND-COLOR: #fff1d1
}
.mainCategory LI A:visited {
	COLOR: #039
}













.HackBox{
   border-top:1px solid transparent !important;
   border-top:0;
   clear:both;
}

.hidden{
	display:none;
}

.invisible{
	visibility:hidden;
}
/* end */

/*Rules for DIV.Head*/


#Head{BACKGROUND: url(../IMAGES/headCap.gif) #fff repeat-x;}
.header960 {MARGIN: auto; WIDTH: 960px;}
.utility {
PADDING-RIGHT:3px; 
PADDING-LEFT: 3px; 
PADDING-BOTTOM: 3px; 
FONT: 0.85em verdana; 
PADDING-TOP: 3px; 
HEIGHT: 25px; 
TEXT-ALIGN: right
}
.utility A:link {
COLOR: #3d5376; 
TEXT-DECORATION: none
}
.utility A:visited {
COLOR: #3d5376; 
TEXT-DECORATION: none
}
.utility A:hover {
COLOR: #3d5376; 
TEXT-DECORATION: none
}
#Logo {	FLOAT: left; FONT: bold 10px verdana; MARGIN-RIGHT: 15px; height:60px;}

#HeadNavBar{
	float: right; margin-top:5px;
}
#HeadNavBar UL {
	DISPLAY: inline
}
#HeadNavBar LI {
	float:left;
	height:21px;
	display:inline;
	margin: 0 3px;
	background: url(../IMAGE/top_menu_r.png) no-repeat right top;
}

#HeadNavBar LI A{
	display:block;
	padding: 0 6px 0 7px;
	float:left;
	height:21px;
	line-height:21px;
	color: #111;
	font-size: 12px;
	background: url(../IMAGE/top_menu_l.png) no-repeat left top;
}


.aliSearch {
	CLEAR: both; BACKGROUND: url(../IMAGES/Search_tabsBg.gif) #f5f8fb repeat-x 50% top; _height: 1%
}
.aliSearch UL {
	LIST-STYLE-IMAGE: none; MARGIN: 0px 0px 0px 200px; LIST-STYLE-TYPE: none; HEIGHT: 30px
}
.aliSearch LI {
	BACKGROUND: url(../IMAGES/Search_tabsLeft.gif) #d6e5ee no-repeat left top; FLOAT: left; MARGIN-RIGHT: 2px
}
.aliSearch LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(../IMAGES/Search_tabsRight.gif) #d6e5ee no-repeat right top; PADDING-BOTTOM: 7px; FONT: bold 13px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearch .searchBox {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND: url(../IMAGES/Search_searchBg.gif) #3f80b1 no-repeat left top; PADDING-BOTTOM: 6px; COLOR: #fff; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.aliSearch .searchBox A {
	COLOR: #fff
}
.aliSearch LI.current {
	BACKGROUND: url(../IMAGES/Search_current_tabsLeft.gif) #93c2de no-repeat left top; HEIGHT: 30px
}
.aliSearch LI.current A {
	FONT-WEIGHT: bold; BACKGROUND: url(../IMAGES/Search_current_tabsRight.gif) #93c2de no-repeat right top; COLOR: #172e54! important; TEXT-DECORATION: none
}
.aliSearch UL LI A {
	outline: none
}
.aliSearch LI.other {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN-LEFT: 20px
}
.aliSearch LI.other A {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-FAMILY: verdana
}

.homePopSearch {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/Search_popBg.gif) no-repeat 50% top; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.homePopSearch A {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 2px
}
.homePopSearch {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(../images/Search_popBg.gif) no-repeat 50% top; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.homePopSearch A {
	MARGIN-LEFT: 5px; MARGIN-RIGHT: 2px
}


#dcontent{
	float:left;
	clear:both;
	width:58.5em;
	min-width: 585px;
	display:block;
}
#dcontent .winstyle2{float:left;background:url(../images/winstyle2.gif) repeat-x top; text-align:left;}
.winstyle2 {
clear:both;
padding:0 12px 12px 12px;
margin-bottom:10px;
border:1px solid #8EB4CE;
word-wrap:break-word; 
word-break:break-all; 
word-break/* */:normal ;}

#dcontent .winstyle2 h2{
line-height:23px;
font-size:12px;
color:#333333;
}

.winstyle2 p {margin-top:0;}


.winstyle2.bg {background-color:#fdffae2!important;}
.winstyle2.hightlight {border-top:none;}



.todaysnew {height:2.4em;margin:0px -12px 0 -12px;background-color:#EEF6FC;position:relative;overflow:hidden;}
.todaysnew h4{position:absolute;top:8px;left:12px;margin:0;padding:0;font:bold 1.0em verdana;}
.todaysnew .section{margin:0.5em 3.5em 0 6.5em;}
.todaysnew .live {font-size:1.0em;}
.todaysnew .live a {margin-right:5px;}
.todaysnew .live .location {margin-right:30px;}
.todaysnew a.more{font:bold 0.8em verdana ;position:absolute;top:8px; right:5px;}

