.bigtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #112482
}
.smalltitle {
	PADDING-RIGHT: 20px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #e2e2e2; PADDING-BOTTOM: 2px; BORDER-LEFT: #ff7300 3px solid; COLOR: #333; PADDING-TOP: 4px
}
.tx_box {
	BORDER-RIGHT: #ffcb99 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ffcb99 1px solid; PADDING-LEFT: 2px; BACKGROUND: #fff8ee; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffcb99 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ffcb99 1px solid
}
.tx_title {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff5400; PADDING-TOP: 5px
}
.tx_content {
	PADDING-LEFT: 10px
}
.list_box {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-BOTTOM: 5px; BORDER-LEFT: #dddddd 1px solid
}
.list_box2 {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; PADDING-BOTTOM: 5px; BORDER-LEFT: #dddddd 1px solid
}
.list_left_box {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 10px; BACKGROUND: #f6f6f6; WIDTH: 150px; PADDING-TOP: 6px; BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: right
}
.list_right_box {
	PADDING-LEFT: 10px; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 1px solid
}
.list_tx_text {
	COLOR: #999999
}
.card_blank {
	BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/cn/market/myalibaba/newmyali/card_blank_bg.gif); BORDER-BOTTOM: #97bef2 1px solid
}
.card_normal {
	BORDER-RIGHT: #c2c2c2 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c2c2c2 1px solid; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/cn/market/myalibaba/newmyali/card_normal_bg.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #c2c2c2 1px solid; WIDTH: 90px; PADDING-TOP: 2px; BORDER-BOTTOM: #97bef2 1px solid; TEXT-ALIGN: center
}
.card_down {
	BORDER-RIGHT: #97bef2 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #97bef2 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(http://img.china.alibaba.com/images/cn/market/myalibaba/newmyali/card_down_bg.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #97bef2 1px solid; WIDTH: 90px; COLOR: #333; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.card_blank_73 {
	BACKGROUND-IMAGE: url(images/card_blank_bg_73.gif); BORDER-BOTTOM: #ff7300 1px solid
}
.card_normal_73 {
	BORDER-RIGHT: #c2c2c2 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c2c2c2 1px solid; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(images/card_normal_bg_73.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #c2c2c2 1px solid; WIDTH: 90px; PADDING-TOP: 2px; BORDER-BOTTOM: #ff7300 1px solid; TEXT-ALIGN: center
}
.card_down_73 {
	BORDER-RIGHT: #ff7300 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ff7300 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(images/card_down_bg_73.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #ff7300 1px solid; WIDTH: 90px; COLOR: #333; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.list_lb_loca {
	MARGIN-TOP: 10px
}
.list_lb_title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; BACKGROUND: #e5f4fb; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #d7eef9 1px solid
}
.list_lb_content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #d7eef9 1px solid
}
BUTTON.buttonstyle {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 3px
}
BUTTON.buttonmiddle {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 2px
}
BUTTON.buttonsmall {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 2px
}
.ts_text {
	COLOR: #ff5400
}
.ts_gray {
	COLOR: #545454
}
.redtext {
	COLOR: #ff7300
}
.redtext A {
	COLOR: #ff7300
}
.redtext A:link {
	COLOR: #ff7300
}
.redtext A:visited {
	COLOR: #ff7300
}
.redtext A:hover {
	COLOR: #ff7300
}
TABLE.outborder {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
TD.outborder_title {
	BORDER-TOP: #f1f1f1 3px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #e7e7e7
}
TD.outborder_title_normal {
	BORDER-TOP: #f1f1f1 3px solid; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: #e7e7e7
}
.outborder TD {
	PADDING-LEFT: 20px
}
.wrongInfo LI {
	FLOAT: none; LINE-HEIGHT: 150%
}
.wrongInfo {
	FLOAT: none; MARGIN: 0px
}
.card_bottom {
	BORDER-BOTTOM: #97bef2 1px solid
}
