<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings>
		<add key="YXType" value="0"/>
		<add key="YXPath" value="server=.;uid=sa;pwd=sa;Trusted_Connection=no;database=HongQiao"/>
    <add key="YXCookieName" value="#ChangeUser#"/>
		<add key="YXUser" value=""/>
		<add key="YXPwd" value=""/>
		<add key="YXServer" value="127.0.0.1"/>
		<add key="YXDB" value=""/>
	</appSettings>
	<connectionStrings/>
	<system.web>
    <xhtmlConformance mode="Legacy"/>
    <httpModules>
      <add type="Discuz.Forum.HttpModule, Discuz.Forum" name="HttpModule" />
    </httpModules>
		<pages validateRequest="false" enableEventValidation="true"></pages>
		<customErrors mode="Off" defaultRedirect="error.aspx"></customErrors>
		<httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="5000" executionTimeout="5000"/>
		<sessionState mode="InProc" timeout="20"/>
		<authentication mode="None"/>		
		<compilation debug="true"/>


    <!--<globalization     
                              requestEncoding="gb2312"     
                              responseEncoding="gb2312"     
		/>-->    
  </system.web>
</configuration>
