.title{height:34px;background:url(skin4/title_main.gif) repeat-x}
.TitleInfo{left:0;text-align:center;padding-top:10px;height:24px;width:119px;top:1px;color:#EC008C;background:url(skin4/title_left.gif) no-repeat}
.TitleLink{right:120px;top:0}
.TitleTop{right:0;top:3px}
#commend_list,#others,#record,#message{border:1px solid #FF7EBD;border-top:none;}
#CommPicsShow{background:url(skin4/pics_bg.gif) no-repeat center}
#FullPath{border-bottom:3px solid #FF7EBE}
#name{border-bottom:1px solid #FF7EBE}
#CommInfo{background:#FFECF5;border:1px solid #FF7EBE;color:#EC008B}
#UserInfoHead{border-bottom:1px solid #FF7EBE;background:#FFB5DA}
#UserInfoFoot{border-top:1px dashed #FF7EBE}
#auction_list{background:url(skin4/list_bg_main.gif);height:30px}
#auction_list li a{display:block;background:url(skin4/list_bg_will.gif);height:20px;padding-top:10px;width:90px;color:#EC008B;text-decoration:none}
#auction_list .li_here a,#auction_list a:hover{background:url(skin4/list_bg_here.gif)}
.font14{
	font-size: 14px;
}
.fontOrange{
	color: #FF6600;	
}