.selectFill{position:relative;}
.selectFill input{width:215px;}
a.inputbutton{position:absolute;left:200px!important;left:202px;top:2px;z-index:10;}
.selectJump{overflow:scroll;overflow-x:hidden;position:absolute;left:0;top:23px;z-index:10;height: 200px; width: 217px; border:1px solid #7F9DB9;background-color:#fff;}
.selectJump a {display:block;padding:0px 6px;}
.selectJump a:visited {color:#000;}
.selectJump a:hover {background-color:#316AC5;color:#fff;text-decoration:none;}

.PopUpMask{	position:absolute;z-index:10;left:0;top:0;background:#fff;filter: Alpha(Opacity=20);}
.PopUpFrame{border:1px solid #7F9DB9;position:absolute;z-index:11;padding:0 8px 8px 8px;margin:auto;background:#ebebeb url(http://img.alibaba.com/images/eng/style/css_images/popup_titlebar.gif) repeat-x;}
.PopUpFrame h3{font:bold 13px/190% arial;color:#666;}
.PopUpFrame iframe{background:#fff;border:1px solid #ccc;width:100%;}
.PopUpContent{background:#fff;border:1px solid #ccc;padding:6px;}
body.PopUpContent{border:none;}

ul.checkPassword {height:20px;margin:4px 0 0 0;padding:0;list-style-type:none;text-align:center;font:0.85em verdana;color:#aaa;}
ul.checkPassword.low .strength1{background-color:#f60!important;color:#000;}
ul.checkPassword.middle .strength1,ul.checkPassword.middle .strength2{background-color:#FFBB68!important;color:#000;}
ul.checkPassword.middle .strength1{color:#FFBB68;}
ul.checkPassword.high .strength1,ul.checkPassword.high .strength2,ul.checkPassword.high .strength3{background-color:#6DBF67!important;color:#000;}
ul.checkPassword.high .strength1,ul.checkPassword.high .strength2{color:#6DBF67;}
ul.checkPassword li{padding:2px;display:block;float:left;text-align:center;margin:0;}
ul.checkPassword .strength1,ul.checkPassword .strength2,ul.checkPassword .strength3{width:70px;text-align:center;background-color:#F1F1F1;display:block;}
ul.checkPassword .strength1,.strength2{border-right:solid 1px #DEDEDE;}


/* operate menu begin*/
.operateMenuBox{position:absolute;z-index:999;background:#fff;width:90px;border:1px solid #ccc;visibility:hidden;filter:progid:DXImageTransform.Microsoft.Shadow(strength=3, direction=120, color=#cccccc);}

.keywordsBox{position:absolute;z-index:999;background:#fff;width:105px;border:1px solid #8AA3C8;visibility:hidden;filter:progid:DXImageTransform.Microsoft.Shadow(strength=3, direction=120, color=#D8E1ED);}
.keywordsBox ul, .operateMenuBox ul{list-style-type:none;padding:0px;margin:0px;}
.keywordsBox ul li,.operateMenuBox ul li{width:91%;padding:1px 3px 1px 3px;}
.keywordsBox ul li a,.operateMenuBox ul li a{display:block;width:95%;border:1px solid #fff;color:#000;padding:0px 3px 0px 3px ;}
.keywordsBox ul li a:hover,.operateMenuBox ul li a:hover{background:#FDEBD4;border:1px solid #E7841C;text-decoration:none;color:#000;}
.keywordsBox ul li a:visited,.operateMenuBox ul li a:visited{color:#000;}
.operateActionButton{display:block;width:40px;border:1px solid #fff;padding:2px;}
/* operate menu end*/

/* file_button begin*/
.file_button{position:relative;width:155px;height:26px;overflow:hidden;}
.file_button .hiddenMask{position:absolute;top:-5px;right:-5px;z-index:2;filter:alpha(opacity=0);opacity:0;font-size:100px!important;}
.file_button .fadeButton{position:absolute;top:2px;left:0;z-index:1;}
/* file_button end*/

/* calendar begin*/
.yui-calcontainer { position:relative;padding:5px; background-color:#F7F9FB; border:1px solid #7B9EBD; float:left; overflow:hidden;}
.yui-calcontainer iframe { position:absolute; border:none; margin:0;padding:0; left:-1px; top:-1px; z-index:0; width:50em; height:50em;}
.yui-calcontainer.multi { padding:0;}
.yui-calcontainer.multi .groupcal { padding:5px; background-color:transparent; z-index:1; float:left; position:relative; border:none;}
.yui-calcontainer .title { font:100% sans-serif; color:#000; font-weight:bold; margin-bottom:5px; height:25px; position:absolute; top:3px;left:5px; z-index:1;}
.yui-calcontainer .close-icon { position:absolute; right:3px; top:3px; border:none; z-index:1;}

/* Calendar element styles */

.yui-calendar { position:relative;font:100% sans-serif; text-align:center; border-spacing:0; border-collapse:separate; position:relative;z-index:9999;}
.yui-calcontainer.withtitle { padding-top:1.5em;}
.yui-calendar .calnavleft { position:absolute; background-repeat:no-repeat; cursor:pointer; top:2px; bottom:0; width:9px; height:12px;    left:2px; z-index:9999;}
.yui-calendar .calnavright { position:absolute; background-repeat:no-repeat; cursor:pointer; top:2px; bottom:0; width:9px; height:12px;   right:2px; z-index:1;}
.yui-calendar td.calcell { padding:.1em .2em; border:1px solid #E0E0E0; text-align:center;}
.yui-calendar td.calcell a { color:#003DB8; text-decoration:none;}
.yui-calendar td.calcell.today { border:1px solid #000;}
.yui-calendar td.calcell.oom { cursor:default; color:#999; background-color:#EEE; border:1px solid #E0E0E0;}
.yui-calendar td.calcell.selected { color:#003DB8; background-color:#FFF19F; border:1px solid #FF9900;}
.yui-calendar td.calcell.calcellhover { cursor:pointer; color:#FFF; background-color:#FF9900; border:1px solid #FF9900;}
.yui-calendar td.calcell.calcellhover a { color:#FFF;}
.yui-calendar td.calcell.restricted { text-decoration:line-through;}
.yui-calendar td.calcell.previous { color:#CCC;}

.yui-calendar td.calcell.highlight1 { background-color:#CCFF99; }
.yui-calendar td.calcell.highlight2 { background-color:#99CCFF; }
.yui-calendar td.calcell.highlight3 { background-color:#FFCCCC; }
.yui-calendar td.calcell.highlight4 { background-color:#CCFF99; }
.yui-calendar .calhead { border:1px solid #E0E0E0; vertical-align:middle; background-color:#FFF;}
.yui-calendar .calheader { position:relative; width:100%; text-align:center;}
.yui-calendar .calheader img { border:none;}
.yui-calendar .calweekdaycell { color:#666; font-weight:normal; text-align:center; width:1.5em;}
.yui-calendar .calfoot { background-color:#EEE;}
.yui-calendar .calrowhead, .yui-calendar .calrowfoot { color:#666; font-size:9px; font-style:italic; font-weight:normal; width:15px;}
.yui-calendar .calrowhead { border-right-width:2px;}
.yui-calendar .calnavright, .yui-calendar a.calnavright:hover{background:url(http://img.alibaba.com/images/eng/style/icon/icon_calrt.gif) no-repeat;}
.yui-calendar .calnavleft, .yui-calendar .calnavleft:hover{background:url(http://img.alibaba.com/images/eng/style/icon/icon_callt.gif) no-repeat;}

.calendarItem{display:inline;}
/*Specific changes for calendar running under fonts/reset */
.yui-calendar a:hover {background:inherit;}
p#clear {clear:left; padding-top:10px;}
/* Calendar element styles */


/*  Product Dict  begin */
.iframeBody{text-align:left;padding:0px;padding-left:4px;margin:0px;background:#FFFFE5;width:218px;}
.kerwordslist li{cursor:hand;}
.kerwordslist{margin:0;padding:0;margin-top:2px}
.current-input{padding-top:6px;padding-left:6px;padding-right:6px;padding-bottom:1px;z-index:120;background:#FFFFE5;border:1px solid #ccc;border-bottom:6px solid #FFFFE5;position:relative;z-index:120;}
.uncurrent-input{padding-top:6px;padding-left:6px;padding-right:6px;padding-bottom:0px;position:relative;z-index:120;border:1px solid #fff;position:relative;z-index:120;}
.kerwordslist-item{width:75%px;cursor:hand;padding:1px;padding-left:8px;background:#FFFFE5;border:1px solid #FFFFE5;}
.current-kerwordslist-item{width:75%px;cursor:hand;padding:1px;padding-left:8px;background:#FEE0AA;border:1px solid #F7941D;}
.searchdictdiv{display:none;position:absolute;z-index:100;width: 218px;height: 440px;border:1px solid #ccc;overflow:hidden;overflow-x:hidden;background:#FFFFE5}
.kerwordslist-category{border-bottom:1px solid #EFE6BF;}
.iframebottomshadow{width:100%;height:0px;border-top:1px solid #F3EFCC;border-bottom:1px solid #EEE5BE;position:absolute;z-index:2;bottom:0px;margin-left:-6px;}
.pvline{width:32px;height:3px;border:1px solid #999;text-align:left;}
/*  Product Dict  end */


.previewImageContainers{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);border:1px solid #ccc; width:66px; height:53px;position:relative; overflow:hidden;}


/* intelligent  begin */
.intelligent{position:relative;z-index:999;display:inline;}
.intelligentList {background:#fff;position:absolute;z-index:777;top:20px;top:22px;left:0px;border:1px solid #8E8E8E;width:430px;padding-top:6px; }
.intelligent input#forsearch{padding-left:3px;width:149px;}
.intelligentList{padding:0;}
.intelligentList {background:#fff;width:430px;padding-top:6px; text-align:left}
.intelligentList div span{float:right;}
.intelligentList{padding:0px 0px 0px 0px;}
.intelligentList div{padding:0px;background:#fff;border:2px solid #fff;}
.intelligentList a {color:#000!important;text-decoration:none;display:block;padding:1px 6px 1px 0px;}
.intelligentList a span {color:green;}
.intelligentList a:visited {color:#000!important;text-decoration : none;padding:1px 6px 1px 0px;}
.intelligentList a:visited span {color:green;}
.intelligentList a.current div{background:#3366CC;border:2px solid #3366CC;color:#fff;}
.intelligentList a:visited.current div span,.intelligentList a.current div span{color:#fff}
.intelligent .intelligentIframeMask {background:#fff;position:absolute;z-index:776;top:28px;left:0px;width:430px;height:10px; }
.intelligentList .intelligentListTitle{cursor:pointer;height:20px;background:#edf1f9;border:0;border-bottom:1px solid #d5e1ee; margin:0;text-indent:5px;color:#4d4d4d;font-size:11px;font-weight:bold}
.intelligentList .intelligentListTitle span{text-decoration:underline;display:block;float:right;margin-top:-16px;padding-right:5px;text-indent:12px;background:url(http://img.alibaba.com/images/eng/style/css_images/intelligent_upIcon.gif) left center no-repeat}
.intelligentList .showSearchSuggestion {padding-left:14px;text-decoration:underline;cursor:pointer;width:345px;height:20px;background:#edf1f9 url(http://img.alibaba.com/images/eng/style/css_images/intelligent_downIcon.gif) 3px center no-repeat;border-bottom:1px solid #d5e1ee; margin-left:0;text-indent:5px;color:#4d4d4d;font-size:11px;font-weight:bold}
/* intelligent  end */
.richTextDescription {overflow:hidden;word-wrap:break-word; word-break:break-all; word-break/* */:normal ;}

.richTextDescription table{	background-color:#ccc; border-top:1px solid #ccc;border-left:1px solid #ccc;}
.richTextDescription table th, .richTextDescription table td{ padding:1px; color:#000; background:#fff url(http://img.alibaba.com/images/eng/style/css_images/minisite/common/tableLine.gif) right bottom no-repeat; }
.richTextDescription pre{font:1em arial;}
.richTextDescription p{margin:0px;padding:0px;}

/* fix tbra begin */
.tb-indic {	display: block;	background: url(http://img.alibaba.com/images/eng/style/css_images/loading.gif) no-repeat left center;padding-left: 20px;	z-index: 214;	font-size: 12px;	color: #000;}
.tb-indic-shim {	position: absolute;	z-index: 10;	display: none;	background: #ccc;	opacity: .8;	filter: alpha(opacity=80);}
.tb-indic-shim-iframe {	position: absolute;	z-index: 11;	display: none;	border: none;	opacity: 0;	filter: alpha(opacity=0);}
/* fix tbra end */

.maskIframe{position:absolute;z-index:1;width:1px;height:1px;top:0px;left:0px;border:0px;background:#fff;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}

.rteFullDetail{overflow:auto;overflow-y:visible;width:600px;}

#trsContentId{overflow:hidden;position:absolute;top:18px;z-index:99999;height: 200px; width: 100px; border:1px solid #7F9DB9;background-color:#fff;padding:2px;}
#trsContentId a {display:block;padding:2px 6px;border:1px solid #fff;}
#trsContentId a:visited {color:#000;}
#trsContentId a:hover {border:1px solid #316AC5;color:#fff;text-decoration:none;}

.opacityMask{filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.inputHint{color:#ccc}
