BODY {
	MARGIN: 0px; FONT: 75%/150% arial; BACKGROUND-COLOR: #fff
}
BODY {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
TABLE {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
TD {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
DIV {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
P {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
.win {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
.column {
	WORD-BREAK: normal; WORD-WRAP: break-word
}
TD {
	OVERFLOW: hidden
}
TH {
	OVERFLOW: hidden
}
HR {
	HEIGHT: 1px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	FONT: 13px Arial
}
SELECT {
	FONT: 13px Arial
}
TEXTAREA {
	FONT: 13px Arial
}
P {
	MARGIN: 0px 0px 15px
}
PRE {
	WORD-WRAP: break-word
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 4px 30px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 4px 20px; PADDING-TOP: 0px
}
UL UL {
	MARGIN-LEFT: 20px
}
OL OL {
	MARGIN-LEFT: 20px
}
A:link {
	COLOR: #039; TEXT-DECORATION: none
}
A:visited {
	COLOR: #969; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
A.underline:link {
	TEXT-DECORATION: underline! important
}
A.underline:visited {
	TEXT-DECORATION: underline! important
}
A.noVisited:visited {
	COLOR: #039
}
A.noVisited:hover {
	COLOR: #f60; TEXT-DECORATION: underline
}
A.sponsored:link {
	FONT: bold 11px tahoma; COLOR: #90908e; TEXT-DECORATION: none
}
A.sponsored:visited {
	FONT: bold 11px tahoma; COLOR: #90908e; TEXT-DECORATION: none
}
A.sponsored:hover {
	FONT: bold 11px tahoma; COLOR: #f50; TEXT-DECORATION: underline
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	MARGIN: 15px 0px 10px; FONT: 2em/180% tahoma
}
H1.guide {
	FONT-SIZE: 20px; MARGIN-BOTTOM: 10px; COLOR: #002858
}
H2 {
	FONT: 1.5em/180% arial
}
H3 {
	FONT: 1.4em/180% arial
}
.l {
	FONT-SIZE: 1.7em
}
.m {
	FONT-SIZE: 1.3em
}
.s {
	FONT: 0.85em verdana
}
.remark {
	FONT: 0.85em verdana; COLOR: #888
}
.displayNone {
	DISPLAY: none
}
INPUT.remark {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
INPUT.hint {
	COLOR: #b2b2b2
}
.alert {
	COLOR: #f60
}
A.alert:link {
	COLOR: #f60
}
A.alert:visited {
	COLOR: #f60
}
A.alert:active {
	COLOR: #f60
}
.limit {
	FONT: 0.85em verdana; COLOR: #900
}
.keywords {
	FONT-WEIGHT: bold
}
.notice {
	COLOR: #900
}
.error {
	BORDER-RIGHT: #e5b5b0 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #e5b5b0 1px solid; PADDING-LEFT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/icon_err.gif) #fff1eb no-repeat 3px 5px; PADDING-BOTTOM: 2px; MARGIN: 2px 0px 3px; BORDER-LEFT: #e5b5b0 1px solid; WIDTH: 270px; COLOR: #990000; PADDING-TOP: 2px; BORDER-BOTTOM: #e5b5b0 1px solid
}
.date {
	FONT-WEIGHT: normal; FONT-SIZE: 0.8em! important; COLOR: #666; LINE-HEIGHT: 1.4em; FONT-FAMILY: verdana; WHITE-SPACE: nowrap
}
.location {
	FONT-WEIGHT: normal; FONT-SIZE: 0.8em! important; COLOR: #666; LINE-HEIGHT: 1.4em; FONT-FAMILY: verdana
}
.break {
	OVERFLOW: hidden; WIDTH: 550px; WORD-BREAK: normal; WORD-WRAP: break-word
}
.widthfixed {
	TABLE-LAYOUT: fixed; WORD-BREAK: normal; WORD-WRAP: break-word
}
A.more {
	PADDING-LEFT: 8px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_arrow.gif) no-repeat left 50%
}
A.top {
	PADDING-RIGHT: 6px; PADDING-LEFT: 8px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_arrow_top.gif) no-repeat left 50%; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
IMG.sampleborder {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.ellipsis {
	TEXT-OVERFLOW: ellipsis
}
.cursorOver {
	BACKGROUND-COLOR: #e8edf2
}
.cursorMove {
	CURSOR: move; BACKGROUND-COLOR: #cedbe5
}
.VCenter100 {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; VERTICAL-ALIGN: middle; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WIDTH: 100px; LINE-HEIGHT: 100px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 100px; TEXT-ALIGN: center
}
.VCenter100 IMG {
	
}
A.undo {
	FONT-WEIGHT: bold; MARGIN: 0px 3px; COLOR: red
}
.selectOption {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; OVERFLOW-X: hidden; OVERFLOW: scroll; BORDER-LEFT: #7f9db9 1px solid; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 200px; BACKGROUND-COLOR: #fff
}
.column {
	FLOAT: left
}
.one2.column {
	WIDTH: 50%
}
.one3.column {
	WIDTH: 33.3%
}
.one4.column {
	WIDTH: 25%
}
.one5.column {
	WIDTH: 20%
}
.one6.column {
	WIDTH: 16.6%
}
.board {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; MARGIN-BOTTOM: 25px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.board H3 {
	FONT-WEIGHT: bold
}
.success {
	COLOR: #3c8637
}
.alertA.board {
	BORDER-RIGHT: #fedcb7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fedcb7 1px solid; PADDING-LEFT: 60px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/alertA.gif) #fff9f2 no-repeat 15px 15px; PADDING-BOTTOM: 15px; MARGIN: 20px 0px; BORDER-LEFT: #fedcb7 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #fedcb7 1px solid
}
.alertB.board {
	BORDER-RIGHT: #fedcb7 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #fedcb7 1px solid; PADDING-LEFT: 30px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/alertB.gif) #fff9f2 no-repeat 10px 6px; PADDING-BOTTOM: 4px; MARGIN: 4px 0px; BORDER-LEFT: #fedcb7 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #fedcb7 1px solid
}
.alertC.board {
	PADDING-RIGHT: 4px; PADDING-LEFT: 30px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/alertB.gif) no-repeat 10px 6px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.errorA.board {
	BORDER-RIGHT: #fac5c7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #fac5c7 1px solid; PADDING-LEFT: 60px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/errorA.gif) #fef0f0 no-repeat 15px 15px; PADDING-BOTTOM: 15px; MARGIN: 20px 0px; BORDER-LEFT: #fac5c7 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #fac5c7 1px solid
}
.errorB.board {
	BORDER-RIGHT: #fac5c7 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #fac5c7 1px solid; PADDING-LEFT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/icon_err.gif) #fef0f0 no-repeat 5px 6px; PADDING-BOTTOM: 2px; MARGIN: 4px 0px; BORDER-LEFT: #fac5c7 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fac5c7 1px solid
}
.V.tables .errorB.board {
	WIDTH: 340px
}
.errorC.board {
	PADDING-RIGHT: 4px; PADDING-LEFT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/icon_err.gif) no-repeat 5px 6px; PADDING-BOTTOM: 2px; MARGIN: 4px 0px; PADDING-TOP: 2px
}
.successA.board {
	BORDER-RIGHT: #cae2a4 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cae2a4 1px solid; PADDING-LEFT: 60px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/successA.gif) #f7faf1 no-repeat 15px 15px; PADDING-BOTTOM: 15px; MARGIN: 20px 0px; BORDER-LEFT: #cae2a4 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #cae2a4 1px solid
}
.successB.board {
	BORDER-RIGHT: #cae2a4 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cae2a4 1px solid; PADDING-LEFT: 30px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/successB.gif) #f7faf1 no-repeat 10px 6px; PADDING-BOTTOM: 4px; MARGIN: 4px 0px; BORDER-LEFT: #cae2a4 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #cae2a4 1px solid
}
.V.tables .successB.board {
	WIDTH: 340px
}
.successC.board {
	PADDING-RIGHT: 4px; PADDING-LEFT: 30px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/successB.gif) no-repeat 10px 6px; PADDING-BOTTOM: 4px; MARGIN: 4px 0px; PADDING-TOP: 4px
}
.noticeA.board {
	BORDER-RIGHT: #c4d3e5 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c4d3e5 1px solid; PADDING-LEFT: 60px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/noticeA.gif) #f6f9fd no-repeat 15px 15px; PADDING-BOTTOM: 15px; MARGIN: 20px 0px; BORDER-LEFT: #c4d3e5 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #c4d3e5 1px solid
}
.noticeB.board {
	BORDER-RIGHT: #c4d3e5 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c4d3e5 1px solid; PADDING-LEFT: 30px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/noticeB.gif) #f6f9fd no-repeat 10px 6px; PADDING-BOTTOM: 4px; MARGIN: 4px 0px; BORDER-LEFT: #c4d3e5 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #c4d3e5 1px solid
}
.noticeC.board {
	PADDING-RIGHT: 4px; PADDING-LEFT: 30px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/noticeC.gif) no-repeat 10px 6px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.infoA.board {
	BORDER-RIGHT: #cee9f9 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cee9f9 1px solid; PADDING-LEFT: 60px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/infoA.gif) #eef7fd no-repeat 15px 15px; PADDING-BOTTOM: 15px; MARGIN: 20px 0px; BORDER-LEFT: #cee9f9 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #cee9f9 1px solid
}
.infoB.board {
	BORDER-RIGHT: #cee9f9 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #cee9f9 1px solid; PADDING-LEFT: 30px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/infoB.gif) #eef7fd no-repeat 10px 6px; PADDING-BOTTOM: 4px; MARGIN: 4px 0px; BORDER-LEFT: #cee9f9 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #cee9f9 1px solid
}
.infoC.board {
	PADDING-RIGHT: 4px; PADDING-LEFT: 30px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/infoC.gif) no-repeat 10px 6px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
INPUT.L {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 3px; FONT: bold 14px arial; OVERFLOW: visible; WIDTH: auto; PADDING-TOP: 3px
}
INPUT.M {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 1px; FONT: bold 12px arial; OVERFLOW: visible; WIDTH: auto; PADDING-TOP: 2px
}
INPUT.S {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 1px; FONT: bold 10px verdana; OVERFLOW: visible; WIDTH: auto; PADDING-TOP: 2px
}
INPUT.buttonSkinA {
	BORDER-RIGHT: #cf6f18 1px solid; BORDER-TOP: #f39d24 1px solid; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/buttonSkinAL.gif) #feeeb1 repeat-x 50% bottom; BORDER-LEFT: #f39d24 1px solid; COLOR: #5e2708; BORDER-BOTTOM: #cf6f18 1px solid
}
INPUT.buttonSkinB {
	BORDER-RIGHT: #7a8699 1px solid; BORDER-TOP: #bac6d9 1px solid; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/buttonSkinBL.gif) #eef4ff repeat-x 50% bottom; BORDER-LEFT: #bac6d9 1px solid; COLOR: #000000; BORDER-BOTTOM: #7a8699 1px solid
}
INPUT.buttonSkinBDisable {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #f3f3f3; BORDER-LEFT: #ddd 1px solid; COLOR: #bfbfbf; BORDER-BOTTOM: #ddd 1px solid
}
INPUT.buttonSkinADisable {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #f3f3f3; BORDER-LEFT: #ddd 1px solid; COLOR: #bfbfbf; BORDER-BOTTOM: #ddd 1px solid
}
INPUT.blue {
	BORDER-RIGHT: #7e99c3 1px solid; BORDER-TOP: #7e99c3 1px solid; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/button_bg_blue.gif); BORDER-LEFT: #7e99c3 1px solid; COLOR: #3d5378; BORDER-BOTTOM: #7e99c3 1px solid; HEIGHT: 22px
}
.open.flex {
	PADDING-RIGHT: 12px; PADDING-LEFT: 1px; FONT-SIZE: 0.8em; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_flex_open.gif) no-repeat right 50%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: verdana
}
.close.flex {
	PADDING-RIGHT: 12px; PADDING-LEFT: 1px; FONT-SIZE: 0.8em; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_flex_close.gif) no-repeat right 50%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: verdana
}
.scale {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #fff; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.scale DIV {
	FONT-SIZE: 0px; BACKGROUND: #f60; HEIGHT: 6px
}
.tabsH H3 A:link {
	PADDING-RIGHT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_titlelink.gif) no-repeat right 50%; COLOR: #000
}
.tabsH H3 A:visited {
	PADDING-RIGHT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_titlelink.gif) no-repeat right 50%; COLOR: #000
}
.tabsH H3 A:hover {
	PADDING-RIGHT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_titlelink.gif) no-repeat right 50%; COLOR: #000
}
.win H3 A:link {
	PADDING-RIGHT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_titlelink.gif) no-repeat right 50%; COLOR: #000
}
.win H3 A:visited {
	PADDING-RIGHT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_titlelink.gif) no-repeat right 50%; COLOR: #000
}
.win H3 A:hover {
	PADDING-RIGHT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_titlelink.gif) no-repeat right 50%; COLOR: #000
}
.title A:link {
	PADDING-RIGHT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_titlelink.gif) no-repeat right 50%; COLOR: #000
}
.title A:visited {
	PADDING-RIGHT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_titlelink.gif) no-repeat right 50%; COLOR: #000
}
.title A:hover {
	PADDING-RIGHT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_titlelink.gif) no-repeat right 50%; COLOR: #000
}
A.recommend1 {
	TEXT-DECORATION: underline! important
}
.hoticon {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/hot_sample.gif) no-repeat right 50%; HEIGHT: 16px
}
A.contacticon {
	PADDING-RIGHT: 4px! important; DISPLAY: block; PADDING-LEFT: 18px! important; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_email.gif) no-repeat 0px 3px; FLOAT: left; PADDING-BOTTOM: 2px! important; FONT: 0.8em verdana; PADDING-TOP: 4px! important; HEIGHT: 30px
}
A.contacticonlogo {
	DISPLAY: block; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/icon_email.gif) no-repeat left 50%; WIDTH: 18px; HEIGHT: 18px
}
A.atm16 {
	PADDING-RIGHT: 2px! important; DISPLAY: block; PADDING-LEFT: 18px! important; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_16.gif) no-repeat left 50%; FLOAT: left; PADDING-BOTTOM: 2px! important; FONT: 0.8em/12px verdana; PADDING-TOP: 2px! important; HEIGHT: 20px; TEXT-ALIGN: left
}
A.atm16grey {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 18px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_16_grey.gif) no-repeat left 50%; FLOAT: left; PADDING-BOTTOM: 2px; FONT: 0.8em/12px verdana; PADDING-TOP: 2px; HEIGHT: 20px; TEXT-ALIGN: left
}
A.atm16none {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 18px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_16_grey.gif) no-repeat left 50%; FLOAT: left; PADDING-BOTTOM: 2px; FONT: 0.8em/12px verdana; PADDING-TOP: 2px; HEIGHT: 20px; TEXT-ALIGN: left
}
A.atm16v {
	DISPLAY: block; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_16.gif) no-repeat 50% top; MARGIN: 5px 0px; FONT: 0.8em verdana; WIDTH: 7em; PADDING-TOP: 16px; TEXT-ALIGN: center
}
A.atm16vgrey {
	DISPLAY: block; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_16_grey.gif) no-repeat 50% top; MARGIN: 5px 0px; FONT: 0.8em verdana; WIDTH: 7em; PADDING-TOP: 16px; TEXT-ALIGN: center
}
A.atm16vnone {
	DISPLAY: block; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_16_grey.gif) no-repeat 50% top; MARGIN: 5px 0px; FONT: 0.8em verdana; WIDTH: 7em; PADDING-TOP: 16px; TEXT-ALIGN: center
}
A.atm16logo {
	DISPLAY: block; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_16.gif) no-repeat left 50%; WIDTH: 18px; HEIGHT: 18px
}
A.atm16logogrey {
	DISPLAY: block; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_16_grey.gif) no-repeat left 50%; WIDTH: 18px; HEIGHT: 18px
}
A.atm24 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_24.gif) no-repeat left 50%; PADDING-BOTTOM: 10px; MARGIN: 0px; LINE-HEIGHT: 30px; PADDING-TOP: 10px
}
A.atm24grey {
	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_24_gray.gif) no-repeat left 50%; PADDING-BOTTOM: 10px; LINE-HEIGHT: 30px; PADDING-TOP: 10px
}
A.atm24none {
	PADDING-RIGHT: 10px; PADDING-LEFT: 25px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_24_gray.gif) no-repeat left 50%; PADDING-BOTTOM: 10px; LINE-HEIGHT: 30px; PADDING-TOP: 10px
}
A.atm32 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 32px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_32.gif) no-repeat left 50%; PADDING-BOTTOM: 10px; MARGIN: 0px; LINE-HEIGHT: 40px; PADDING-TOP: 10px
}
A.atm32grey {
	PADDING-RIGHT: 10px; PADDING-LEFT: 32px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_32_grey.gif ) no-repeat left 50%; PADDING-BOTTOM: 10px; LINE-HEIGHT: 40px; PADDING-TOP: 10px
}
A.atm32none {
	PADDING-RIGHT: 10px; PADDING-LEFT: 32px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_32_grey.gif ) no-repeat left 50%; PADDING-BOTTOM: 10px; LINE-HEIGHT: 40px; PADDING-TOP: 10px
}
A.atm32logo {
	PADDING-RIGHT: 16px; DISPLAY: block; PADDING-LEFT: 16px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_32.gif) no-repeat left 50%; PADDING-BOTTOM: 16px; WIDTH: 0px; PADDING-TOP: 16px
}
A.atm32logogrey {
	PADDING-RIGHT: 16px; DISPLAY: block; PADDING-LEFT: 16px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/icon/alitalk_32_grey.gif) no-repeat left 50%; PADDING-BOTTOM: 16px; WIDTH: 0px; PADDING-TOP: 16px
}
.dashed {
	FONT-SIZE: 0px; MARGIN: 8px 0px; LINE-HEIGHT: 0; BORDER-BOTTOM: #ccc 1px dashed; HEIGHT: 1px
}
UL.narrow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 4px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.narrow LI {
	PADDING-LEFT: 10px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/point.gif) no-repeat; MARGIN-BOTTOM: 2px
}
.H.tables {
	TABLE-LAYOUT: fixed; COLOR: #4b4b4b
}
.H.tables TH A {
	PADDING-RIGHT: 10px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/listbatch_arrow.gif) no-repeat right 5px
}
.H.tables TH A.noarrow {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.H.tables TH A:link {
	COLOR: #3d5378; TEXT-DECORATION: none
}
.H.tables TH A:visited {
	COLOR: #4b4b4b; TEXT-DECORATION: none
}
.H.tables TH A:hover {
	COLOR: #f26522
}
.V.tables .tablesRight {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FLOAT: right; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
A.reorder {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/listbatch_resort.gif)! important
}
A.reorder_down {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/listbatch_resort_down.gif)! important
}
A.reorder_up {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/listbatch_resort_up.gif)! important
}
.H.tables TH {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: lighter; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tablesH_th_bg.gif) repeat-x 50% bottom; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; COLOR: #3d5378; PADDING-TOP: 3px; TEXT-ALIGN: left! important
}
.H.tables TD TD TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.H.tables TD TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.H.tables TD {
	PADDING-RIGHT: 6px! important; PADDING-LEFT: 6px! important; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tablesH_line.gif) repeat-x 50% bottom; PADDING-BOTTOM: 3px! important; PADDING-TOP: 3px! important
}
.H.tables TR.choose {
	BACKGROUND-COLOR: #efefef
}
.H.tables TR.sweep {
	BACKGROUND-COLOR: #efefef
}
.H.tables TR.unread {
	FONT-WEIGHT: bold
}
.H.tables TR.newItem TD {
	BACKGROUND-COLOR: #f5f5f5! important
}
.H.tables TR.newItem TH {
	BACKGROUND-COLOR: #f5f5f5! important
}
.V.tables {
	BORDER-RIGHT: #cbddf1 1px solid; BORDER-TOP: #cbddf1 1px solid; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tableV_bg.gif) repeat-x 50% top; BORDER-LEFT: #cbddf1 1px solid; BORDER-BOTTOM: #cbddf1 1px solid
}
.V.tables TH {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 8px; VERTICAL-ALIGN: top; PADDING-TOP: 8px; TEXT-ALIGN: right
}
.V.tables .subHead {
	MARGIN-RIGHT: 5px
}
.V.tables TD TD TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.V.tables TD TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.V.tables TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; TEXT-ALIGN: left
}
.V.tables HR {
	BORDER-RIGHT: #b3c4de 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b3c4de 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #b3c4de 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #b3c4de 1px solid
}
.V.tables .formMessage {
	BACKGROUND-COLOR: #fffae2
}
.V.tables .formAction {
	BACKGROUND-COLOR: #eff4fa; TEXT-ALIGN: center
}
.V.tables .formAction {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
.V.tables .formAction INPUT {
	BORDER-RIGHT: #7a8699 1px solid; BORDER-TOP: #bac6d9 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/buttonSkinBL.gif); MARGIN: 0px 15px; BORDER-LEFT: #bac6d9 1px solid; BORDER-BOTTOM: #7a8699 1px solid; HEIGHT: 27px
}
.V.tables TH .remark {
	FONT-WEIGHT: lighter
}
.V.tables TH .alert {
	FONT-WEIGHT: lighter
}
.V.tables TH .remark {
	FONT-WEIGHT: lighter
}
.V.tables TH .limit {
	FONT-WEIGHT: lighter
}
.V.tables .inputTips {
	FONT: 0.85em ????; COLOR: #aaa
}
.V.tables H2 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #eff4fa; COLOR: #264176
}
.mainReg.tables {
	FONT-FAMILY: Tahoma
}
.mainReg.tables A {
	COLOR: #038efa; TEXT-DECORATION: underline
}
.mainReg.tables TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: middle; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.mainReg.tables TBODY {
	BORDER-TOP: #d5d5d5 1px solid
}
.mainReg.tables TD TD TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.mainReg.tables TD TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.mainReg.tables TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.mainReg.tables TD .required {
	MARGIN-TOP: -5px; FONT-SIZE: 11px; FLOAT: right
}
.mainReg.tables H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 16px; MARGIN-BOTTOM: -4px; PADDING-BOTTOM: 0px; COLOR: #777; PADDING-TOP: 16px
}
.mainReg.tables INPUT {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px! important; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px! important; FONT-SIZE: 14px; PADDING-BOTTOM: 2px! important; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px! important; BORDER-BOTTOM: #ccc 1px solid
}
SELECT {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px! important; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px! important; FONT-SIZE: 14px; PADDING-BOTTOM: 2px! important; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px! important; BORDER-BOTTOM: #ccc 1px solid
}
TEXTAREA {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px! important; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px! important; FONT-SIZE: 14px; PADDING-BOTTOM: 2px! important; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 2px! important; BORDER-BOTTOM: #ccc 1px solid
}
.mainReg.tables TD .remark {
	FONT-SIZE: 12px
}
.mainReg.tables TD .fieldErrorMsg {
	BORDER-RIGHT: #fcc4c7 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fcc4c7 1px solid; PADDING-LEFT: 23px; FONT-SIZE: 13px; Z-INDEX: 98; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/mainreg_icon_error.gif) #fdf0f7 no-repeat 2px 3px; LEFT: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #fcc4c7 1px solid; WIDTH: 290px; COLOR: #d60107; LINE-HEIGHT: 19px; PADDING-TOP: 1px; BORDER-BOTTOM: #fcc4c7 1px solid; POSITION: absolute
}
.mainReg.tables TD .fieldError {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.mainReg.tables TD .fieldTipsMsg {
	BORDER-RIGHT: #fec600 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fec600 1px solid; PADDING-LEFT: 23px; FONT-SIZE: 13px; Z-INDEX: 98; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/mainreg_icon_tips.gif) #fbf8e9 no-repeat 2px 3px; LEFT: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #fec600 1px solid; WIDTH: 290px; COLOR: #666; LINE-HEIGHT: 19px; PADDING-TOP: 1px; BORDER-BOTTOM: #fec600 1px solid; POSITION: absolute
}
.mainReg.tables TD .fieldTips {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.mainReg.tables TH .alert {
	COLOR: #d60107
}
.data.tables {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.data.tables TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 8px; FONT-WEIGHT: lighter; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left
}
.data.tables TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid
}
.data.tables TD TD {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; BORDER-TOP-STYLE: none! important; PADDING-TOP: 0px! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.required {
	PADDING-LEFT: 15px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/required_icon.gif) no-repeat 5px 5px
}
.messageTool {
	BORDER-RIGHT: #becce2 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #becce2 1px solid; PADDING-LEFT: 4px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/message_tool.gif) #eaeaea; PADDING-BOTTOM: 4px; FONT: 0.8em verdana; BORDER-LEFT: #becce2 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #becce2 1px solid
}
.listBatch {
	BORDER-RIGHT: #becce2 1px solid; BORDER-TOP: #becce2 1px solid; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/listbatch_bg.gif) #eaeaea; FONT: 0.8em verdana; BORDER-LEFT: #becce2 1px solid; BORDER-BOTTOM: #becce2 1px solid; HEIGHT: 35px
}
.listBatch .select {
	PADDING-RIGHT: 0px; PADDING-LEFT: 35px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 25px; PADDING-TOP: 5px
}
.T.listBatch .select {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/listBatch_T.gif) no-repeat 14px 12px
}
.B.listBatch {
	MARGIN-TOP: 10px
}
.B.listBatch .select {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/listBatch_B.gif) no-repeat 14px 7px
}
.listBatch .listBatchRight {
	FLOAT: right; MARGIN: 5px
}
.win {
	CLEAR: both; MARGIN-BOTTOM: 15px
}
.win H3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; FONT: 12px arial; MARGIN-LEFT: 2px; BORDER-TOP-STYLE: none; PADDING-TOP: 4px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.win H4 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px -12px; COLOR: #888; PADDING-TOP: 0px; BORDER-BOTTOM: #ccc 1px dotted
}
.win .box {
	PADDING-RIGHT: 11px; PADDING-LEFT: 11px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.win .box .promot {
	PADDING-RIGHT: 12px; BORDER-TOP: #dae4f0 1px solid; PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; MARGIN: -4px -11px; PADDING-TOP: 4px; BACKGROUND-COLOR: #f3f6fd
}
.win .winRight {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.winSkinA.win {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/window/winSkinALeft.gif) #c0d6e5 no-repeat
}
.winSkinA.win H3 {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/window/winSkinARight.gif) #c0d6e5 no-repeat right top; COLOR: #0a2649
}
.winSkinA.win .box {
	BORDER-RIGHT: #8eb4ce 1px solid; BORDER-TOP: #8eb4ce 1px solid; BORDER-LEFT: #8eb4ce 1px solid; BORDER-BOTTOM: #8eb4ce 1px solid; BACKGROUND-COLOR: #fff
}
.winSkinB.win {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/window/winBleft.gif) no-repeat
}
.winSkinB.win H3 {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/window/winBright.gif) no-repeat right top
}
.winSkinB.win .box {
	BORDER-RIGHT: #bcc8de 1px solid; BORDER-TOP: #bcc8de 1px; BORDER-LEFT: #bcc8de 1px solid; BORDER-BOTTOM: #bcc8de 1px solid; BACKGROUND-COLOR: #fff
}
.winSkinD.win {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/window/winD_left.gif) #ffd58d no-repeat
}
.winSkinD.win H3 {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/window/winD_right.gif) #ffd58d no-repeat right top; COLOR: #7b2e00; BORDER-BOTTOM: #ff8f27 1px solid
}
.winSkinD.win .box {
	BORDER-RIGHT: #ffb64b 1px solid; BORDER-TOP: #ffb64b 1px; BORDER-LEFT: #ffb64b 1px solid; BORDER-BOTTOM: #ffb64b 1px solid; BACKGROUND-COLOR: #fff
}
.winSkinD.win .box .promot {
	BORDER-RIGHT: #ffe4b1 1px solid; BORDER-TOP: #ffe4b1 1px solid; BORDER-LEFT: #ffe4b1 1px solid; BORDER-BOTTOM: #ffe4b1 1px solid; BACKGROUND-COLOR: #fff5e2
}
.winSkinGreen.win {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/window/winleft_green.gif) #eee no-repeat
}
.winSkinGreen.win H3 {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/window/winright_green.gif) #eee no-repeat right top; COLOR: #2d4a0f
}
.winSkinGreen.win .box {
	BORDER-RIGHT: #b0cc86 1px solid; BORDER-TOP: #b0cc86 1px solid; BORDER-LEFT: #b0cc86 1px solid; BORDER-BOTTOM: #b0cc86 1px solid; BACKGROUND-COLOR: #fff
}
.tips {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND: #efefef; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; POSITION: relative
}
.tips STRONG {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: #efefef; LEFT: -6px; PADDING-BOTTOM: 2px; FONT: bold 0.85em verdana; PADDING-TOP: 2px; POSITION: absolute; TOP: -10px
}
.contact {
	MARGIN: 25px 8px; WIDTH: 460px; TEXT-ALIGN: left
}
.contacthead {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #f60; BORDER-BOTTOM: #f60 3px solid
}
.contactinfo {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #e7e7e7 3px solid
}
#pagetool {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 40px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
#pagetool A {
	PADDING-RIGHT: 40px; PADDING-LEFT: 40px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/icon_pagetool.gif) no-repeat 30px 50%; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
BODY#popUp #header {
	BACKGROUND-IMAGE: none; MARGIN: 0px; WIDTH: auto; HEIGHT: auto; BACKGROUND-COLOR: #efefef
}
BODY#popUp #page {
	MARGIN: 6px
}
#header {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/headCap.gif) #fff repeat-x; HEIGHT: 80px
}
#headerReg {
	PADDING-BOTTOM: 40px; PADDING-TOP: 20px
}
.header960 {
	MARGIN: auto; WIDTH: 960px
}
.header760 {
	MARGIN: auto; WIDTH: 760px
}
#aliLogo {
	FLOAT: left; FONT: bold 10px verdana; MARGIN-RIGHT: 15px
}
.utility {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: 0.85em verdana; PADDING-TOP: 3px; HEIGHT: 25px; TEXT-ALIGN: right
}
.utility A:link {
	COLOR: #3d5376; TEXT-DECORATION: none
}
.utility A:visited {
	COLOR: #3d5376; TEXT-DECORATION: none
}
.utility A:hover {
	COLOR: #3d5376; TEXT-DECORATION: none
}
.utility INPUT {
	FONT: 10px verdana
}
.utility FORM {
	DISPLAY: inline
}
#joinNowTips {
	FLOAT: right; TEXT-ALIGN: right
}
#joinNowTips A {
	COLOR: #038efa; TEXT-DECORATION: underline
}
.importantNotice {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/security_bg.gif) repeat-x 50% bottom; PADDING-BOTTOM: 6px; COLOR: #2666a6; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.importantNotice A:link {
	COLOR: #2666a6; TEXT-DECORATION: underline
}
.importantNotice A:visited {
	COLOR: #2666a6; TEXT-DECORATION: underline
}
.importantNotice A:hover {
	COLOR: #f60
}
.width760 {
	MARGIN: 0px auto; WIDTH: 760px; TEXT-ALIGN: left
}
.width960 {
	MARGIN: 0px auto; WIDTH: 960px; TEXT-ALIGN: left
}
#footer {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 15px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; FONT: 0.85em/14px verdana; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#page960 {
	MARGIN: auto; TEXT-ALIGN: left
}
#page760 {
	MARGIN: auto; TEXT-ALIGN: left
}
#page960 {
	MIN-WIDTH: 760px; MAX-WIDTH: 960px; WIDTH: 960px
}
#page760 {
	WIDTH: 760px
}
.colL {
	FLOAT: left; _overflow: hidden
}
.colRL {
	FLOAT: left; _overflow: hidden
}
.colLL {
	FLOAT: left; _overflow: hidden
}
.colR {
	FLOAT: right; _overflow: hidden
}
.colRR {
	FLOAT: right; _overflow: hidden
}
.colLR {
	FLOAT: right; _overflow: hidden
}
.frameA#page760 .colL {
	WIDTH: 440px
}
.frameA#page760 .colR {
	WIDTH: 300px
}
.frameA#page960 .colL {
	WIDTH: 180px
}
.frameA#page960 .colR {
	MARGIN-LEFT: -200px; WIDTH: 100%
}
.frameA#page960 .colR .colRmargin {
	MARGIN-BOTTOM: 20px; MARGIN-LEFT: 200px
}
.frameA#page960 .colRL {
	WIDTH: 100%; MARGIN-RIGHT: -200px
}
.frameA#page960 .colRL .colRLmargin {
	MARGIN-RIGHT: 180px
}
.frameA#page960 .colRR {
	WIDTH: 160px
}
.frameB#page960 .colR {
	WIDTH: 160px
}
.frameB#page960 .colL {
	WIDTH: 100%; MARGIN-RIGHT: -200px
}
.frameB#page960 .colL .colLmargin {
	MARGIN-RIGHT: 200px
}
.frameB#page960 .colLR {
	MARGIN-LEFT: -200px; WIDTH: 100%
}
.frameB#page960 .colLR .colLRmargin {
	MARGIN-LEFT: 200px
}
.frameB#page960 .colLL {
	WIDTH: 180px
}
.backOffice#page960 {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu_leftBg.gif) repeat-y left 50%; BORDER-BOTTOM: transparent 1px solid
}
.frameB.listPage#page960 .colR {
	WIDTH: 160px
}
.frameB#page960 .colL {
	WIDTH: 100%; MARGIN-RIGHT: -175px
}
.frameB#page960 .colL .colLmargin {
	MARGIN-RIGHT: 175px
}
.signIn.frameA#page760 .column {
	WIDTH: 760px; POSITION: relative
}
.signIn.frameA#page760 .signInArea {
	LEFT: 495px; WIDTH: 239px; POSITION: absolute; TOP: -10px
}
.signIn.frameA#page760 HR {
	MARGIN: 10px 0px
}
#ads {
	CLEAR: left; PADDING-BOTTOM: 15px
}
#ads .inhouse {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-BOTTOM: 25px; BORDER-LEFT: #e0e0e0 1px solid; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #fff! important
}
DIV.image75-left IMG {
	CLEAR: both; FLOAT: left
}
DIV.image75-left P IMG {
	CLEAR: none; FLOAT: none; WIDTH: auto
}
DIV.image75-left P {
	MARGIN-TOP: 0px; MARGIN-LEFT: 83px
}
DIV.image75-left LI IMG {
	CLEAR: none; FLOAT: none; WIDTH: auto! important
}
DIV.image75-left P IMG {
	CLEAR: none; FLOAT: none; WIDTH: auto! important
}
DIV.image75-left UL {
	MARGIN-LEFT: 83px
}
DIV.image-left IMG {
	FLOAT: left; MARGIN: 0px 8px 8px 0px
}
DIV.image-left P {
	MARGIN-TOP: 0px
}
DIV.image-left P IMG {
	FLOAT: none; MARGIN: 0px
}
DIV.image-left DIV IMG {
	FLOAT: none; MARGIN: 0px
}
.todaysnew {
	OVERFLOW: hidden; POSITION: relative; HEIGHT: 2.4em; BACKGROUND-COLOR: #eef6fc
}
.todaysnew H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 0.8em verdana; PADDING-TOP: 0px; POSITION: absolute; TOP: 8px
}
.todaysnew .section {
	MARGIN: 0.5em 3em 0px 6.5em
}
.todaysnew .live {
	FONT-SIZE: 0.8em
}
.todaysnew .live A {
	MARGIN-RIGHT: 5px
}
.todaysnew .live .location {
	MARGIN-RIGHT: 30px
}
.todaysnew A.more {
	RIGHT: 5px; FONT: bold 0.8em verdana; POSITION: absolute; TOP: 8px
}
