#utility {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 2px 220px; FONT: 10px verdana; COLOR: #999; PADDING-TOP: 2px; TEXT-ALIGN: left
}
#utility IMG {
	VERTICAL-ALIGN: middle
}
#breadcrumbs {
	PADDING-BOTTOM: 10px; FONT: 0.8em verdana; WIDTH: 100%; BACKGROUND-COLOR: #fff
}
#breadcrumbs H1 {
	PADDING-RIGHT: 0px! important; DISPLAY: inline; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; FONT: bold 1em verdana; BORDER-TOP-STYLE: none; PADDING-TOP: 0px! important; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#localpath {
	PADDING-TOP: 8px
}
#localpath H1 {
	DISPLAY: inline; FONT-SIZE: 1.5em; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#title H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; MARGIN: 6px 19px 0px; COLOR: #fff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#title STRONG {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 17px; MARGIN: 6px 19px 0px; COLOR: #fff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#title H1 A {
	COLOR: #fff; TEXT-DECORATION: none
}
#title STRONG A {
	COLOR: #fff; TEXT-DECORATION: none
}
#title {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/title/title_background.gif) #e6ecf6 repeat-x; VERTICAL-ALIGN: bottom; HEIGHT: 32px
}
#title #titlename {
	MIN-WIDTH: 177px; DISPLAY: inline; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/title/title_current.gif) #437eaf repeat-x; FLOAT: left; HEIGHT: 31px; TEXT-ALIGN: center
}
#title .shadow {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/title/title_shadow.gif) no-repeat left top; FLOAT: left; WIDTH: 148px; HEIGHT: 31px
}
#title STRONG A:link {
	COLOR: #fff
}
#title STRONG A:visited {
	COLOR: #fff
}
#title STRONG A:hover {
	COLOR: #fff
}
#mainNav {
	MARGIN-TOP: 10px; FLOAT: right
}
#mainNav UL {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mainNav LI {
	DISPLAY: block; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/mainNav.gif) #ffffdd no-repeat right 50%; FLOAT: left; MARGIN-RIGHT: 2px
}
#mainNav LI.current {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/mainNavCurrent.gif) #ffffdd no-repeat right 50%
}
#mainNav LI.current A:link {
	COLOR: #4c2005
}
#mainNav LI.current A:visited {
	COLOR: #4c2005
}
#mainNav A:link {
	DISPLAY: block; FONT: bold 11px/20px arial; WIDTH: 83px; COLOR: #4e2207; HEIGHT: 21px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#mainNav A:visited {
	DISPLAY: block; FONT: bold 11px/20px arial; WIDTH: 83px; COLOR: #4e2207; HEIGHT: 21px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#mainNav .myAlibaba {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/mainNavMyAlibaba.gif) #ffffdd no-repeat right 50%; PADDING-BOTTOM: 0px; WIDTH: 88px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#mainNav .myAlibaba A:hover {
	TEXT-DECORATION: underline! important
}
#mainNav .myAlibaba UL {
	BORDER-RIGHT: #e9c94d 1px; PADDING-RIGHT: 3px; BORDER-TOP: #e9c94d 1px; PADDING-LEFT: 5px; Z-INDEX: 100; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/subNavBg.gif) no-repeat right top; LEFT: -1px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #e9c94d 1px solid; WIDTH: 133px; PADDING-TOP: 10px; BORDER-BOTTOM: #e9c94d 1px solid; POSITION: absolute
}
#mainNav .myAlibaba LI {
	CLEAR: both; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px auto; WIDTH: 130px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#mainNav .myAlibaba LI.line {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important; BORDER-BOTTOM: #e1e1dc 1px solid
}
#mainNav .myAlibaba LI A:hover {
	BACKGROUND: #fee9b5; TEXT-DECORATION: underline! important
}
#mainNav .myAlibaba LI A:link {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; MARGIN: 0px auto; FONT: bold 11px/20px arial; WIDTH: 120px; PADDING-TOP: 1px; HEIGHT: auto; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#mainNav .myAlibaba LI A:visited {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; MARGIN: 0px auto; FONT: bold 11px/20px arial; WIDTH: 120px; PADDING-TOP: 1px; HEIGHT: auto; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#tab {
	CLEAR: both
}
#tab UL {
	MARGIN: 0px; LIST-STYLE-TYPE: none; HEIGHT: 26px
}
#tab LI {
	DISPLAY: block; FLOAT: left; MARGIN-RIGHT: 3px
}
#tab LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; FONT: 13px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; PADDING-TOP: 7px; TEXT-DECORATION: none
}
#tab LI A:hover {
	COLOR: #f60! important
}
#tab LI A:visited {
	COLOR: #039
}
#tab LI A:link {
	COLOR: #455b80
}
#tab {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_line.gif) repeat-x 50% top
}
#tab LI {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_left.gif) #d3e0f0 no-repeat left top
}
#tab LI A:link {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_right.gif) #d3e0f0 no-repeat right top; COLOR: #081b39
}
#tab LI A:visited {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_right.gif) #d3e0f0 no-repeat right top; COLOR: #081b39
}
#tab LI A:hover {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_right.gif) #d3e0f0 no-repeat right top; COLOR: #081b39
}
#tab LI.current {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_current_left.gif) #416a9e no-repeat left top
}
#tab LI.current A {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_current_right.gif) #416a9e no-repeat right top; COLOR: #fff! important; TEXT-DECORATION: none
}
#tab LI.current A:hover {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_current_right.gif) #416a9e no-repeat right top; COLOR: #fff! important; TEXT-DECORATION: none
}
#tab .box {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
.tabsingle {
	BORDER-BOTTOM: #ccc 2px solid; HEIGHT: 23px
}
.tabsingle DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabsingle_left.gif) no-repeat left top; FLOAT: left
}
.tabsingle DIV STRONG {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 6px; FONT-SIZE: 13px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabsingle_right.gif) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 3px; PADDING-TOP: 4px
}
#tab-f {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tab_f_bottomline.gif) repeat-x 50% bottom
}
#tab-f UL {
	MARGIN: 0px; HEIGHT: 27px
}
#tab-f LI {
	DISPLAY: block; FLOAT: left; MARGIN-BOTTOM: 0px; MARGIN-RIGHT: 5px
}
#tab-f LI A:hover {
	COLOR: #f60! important; TEXT-DECORATION: none
}
#tab-f LI A:visited {
	COLOR: #039
}
#tab-f LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; FONT: 13px arial; PADDING-TOP: 4px; TEXT-DECORATION: none
}
#tab-f LI.current A {
	PADDING-BOTTOM: 6px; COLOR: #000! important
}
#tab-f LI.current A:hover {
	COLOR: #000! important
}
#tab-f LI {
	BORDER-RIGHT: #bfdaf3 1px solid; BORDER-TOP: #bfdaf3 1px solid; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/resourcetab.gif) #b2d4ff repeat-x; BORDER-LEFT: #bfdaf3 1px solid; BORDER-BOTTOM: #dcebf9 1px solid
}
#tab-f LI.current {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/resourcetab_f_current.gif) #f1f8ff repeat-x; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px
}
#tab-f LI.future {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BACKGROUND: #fff; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px
}
.tabcontent {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px; BORDER-LEFT: #ccc 1px solid; WORD-BREAK: normal; BORDER-BOTTOM: #ccc 1px solid; WORD-WRAP: break-word
}
#data {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#data TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 8px; FONT-WEIGHT: lighter; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: left
}
#data TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; PADDING-TOP: 4px; BORDER-BOTTOM: #ccc 1px solid
}
#data TD TD {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; BORDER-TOP-STYLE: none! important; PADDING-TOP: 0px! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
#form {
	BORDER-RIGHT: #cbddf1 1px solid; BORDER-TOP: #cbddf1 1px solid; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tableV_bg.gif) repeat-x 50% top; BORDER-LEFT: #cbddf1 1px solid; BORDER-BOTTOM: #cbddf1 1px solid
}
#form TH {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; PADDING-BOTTOM: 8px; VERTICAL-ALIGN: top; PADDING-TOP: 8px; TEXT-ALIGN: right
}
#form TD TD TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#form TD TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#form TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; TEXT-ALIGN: left
}
#form H2 {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #eff4fa; COLOR: #264176; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#form H3 {
	FONT: lighter 1.3em/180% arial
}
#form HR {
	BORDER-RIGHT: #b3c4de 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b3c4de 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #b3c4de 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #b3c4de 1px solid
}
#form .formAction {
	BACKGROUND-COLOR: #eff4fa; TEXT-ALIGN: center
}
#form .formAction {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 15px
}
#form .formAction INPUT {
	BORDER-RIGHT: #848484 1px solid; BORDER-TOP: #c4c4c4 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 16px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/buttonSkinBL.gif); MARGIN: 0px 15px; BORDER-LEFT: #c4c4c4 1px solid; BORDER-BOTTOM: #848484 1px solid; HEIGHT: 27px
}
#form .tablesRight {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FLOAT: right; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#search {
	BORDER-RIGHT: #73a4be 1px solid; PADDING-RIGHT: 8px; BACKGROUND-POSITION: 50% top; BORDER-TOP: #73a4be 1px solid; PADDING-LEFT: 8px; BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/search_bg.gif); PADDING-BOTTOM: 8px; BORDER-LEFT: #73a4be 1px solid; COLOR: #081b39; PADDING-TOP: 8px; BORDER-BOTTOM: #3f799f 1px solid; BACKGROUND-COLOR: #d2e4f0
}
#search UL {
	FONT-SIZE: 0.8em; FLOAT: right; MARGIN: 0px 1px 0px 0px; FONT-FAMILY: verdana; TEXT-ALIGN: left
}
#search LI {
	LINE-HEIGHT: 10px
}
.aliSearch {
	CLEAR: both; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsBg760.gif) #f5f8fb repeat-x 50% top; WIDTH: 760px
}
.aliSearch UL {
	LIST-STYLE-IMAGE: none; MARGIN: 0px 0px 0px 150px; LIST-STYLE-TYPE: none; HEIGHT: 30px
}
.aliSearch LI {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsLeft.gif) #d6e5ee no-repeat left top; FLOAT: left; MARGIN-RIGHT: 2px
}
.aliSearch LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsRight.gif) #d6e5ee no-repeat right top; PADDING-BOTTOM: 7px; FONT: bold 13px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearch .searchBox {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_searchBg760.gif) #3f80b1 no-repeat left top; PADDING-BOTTOM: 6px; COLOR: #fff; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.aliSearch .searchBox A {
	COLOR: #fff
}
.aliSearch LI.current {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_current_tabsLeft.gif) #93c2de no-repeat left top; HEIGHT: 30px
}
.aliSearch LI.current A {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_current_tabsRight.gif) #93c2de no-repeat right top; COLOR: #172e54! important; TEXT-DECORATION: none
}
.aliSearch UL LI A {
	outline: none
}
.homePopSearch {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_popBg.gif) no-repeat 50% top; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.aliSearchC {
	CLEAR: both; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsBg760.gif) #f5f8fb repeat-x 50% top; WIDTH: 760px
}
.aliSearchC UL {
	LIST-STYLE-IMAGE: none; MARGIN: 0px 0px 0px 150px; LIST-STYLE-TYPE: none; HEIGHT: 30px
}
.aliSearchC LI {
	FLOAT: left; MARGIN-RIGHT: 2px
}
.aliSearchC LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 7px; FONT: bold 13px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearchC .searchBox {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_searchBg760.gif) #3f80b1 no-repeat left top; PADDING-BOTTOM: 6px; COLOR: #fff; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.aliSearchC .searchBox A {
	COLOR: #fff
}
.aliSearchC LI.current {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_current_tabsLeft.gif) #93c2de no-repeat left top; HEIGHT: 30px
}
.aliSearchC LI.current A {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_current_tabsRight.gif) #93c2de no-repeat right top; COLOR: #172e54! important; TEXT-DECORATION: none
}
.aliSearchC UL LI A {
	outline: none
}
.intelligent {
	DISPLAY: inline; Z-INDEX: 9; POSITION: relative
}
.intelligentList {
	BORDER-RIGHT: #8e8e8e 1px solid; BORDER-TOP: #8e8e8e 1px solid; Z-INDEX: 777; BACKGROUND: #fff; LEFT: 0px; BORDER-LEFT: #8e8e8e 1px solid; WIDTH: 430px; PADDING-TOP: 6px; BORDER-BOTTOM: #8e8e8e 1px solid; POSITION: absolute; TOP: 22px
}
.intelligent INPUT#forsearch {
	PADDING-LEFT: 3px; WIDTH: 149px
}
.intelligentList {
	PADDING-RIGHT: 3px; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px
}
.intelligentList {
	BACKGROUND: #fff; WIDTH: 430px; PADDING-TOP: 6px; TEXT-ALIGN: left
}
.intelligentList DIV SPAN {
	FLOAT: right
}
.intelligentList {
	PADDING-RIGHT: 3px; PADDING-LEFT: 2px; PADDING-BOTTOM: 4px; PADDING-TOP: 0px
}
.intelligentList DIV {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 1px; BACKGROUND: #fff; PADDING-BOTTOM: 1px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #fff 1px solid
}
.intelligentList A {
	PADDING-RIGHT: 6px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; COLOR: #000; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.intelligentList A SPAN {
	COLOR: green
}
.intelligentList A:visited {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; COLOR: #000; PADDING-TOP: 1px; TEXT-DECORATION: none
}
.intelligentList A:visited SPAN {
	COLOR: green
}
.intelligentList A.current DIV {
	BORDER-RIGHT: #3366cc 1px solid; BORDER-TOP: #3366cc 1px solid; BACKGROUND: #3366cc; BORDER-LEFT: #3366cc 1px solid; COLOR: #fff; BORDER-BOTTOM: #3366cc 1px solid
}
.intelligentList A.current:visited DIV SPAN {
	COLOR: #fff
}
.intelligentList A.current DIV SPAN {
	COLOR: #fff
}
.intelligent .intelligentIframeMask {
	Z-INDEX: 776; BACKGROUND: #fff; LEFT: 0px; WIDTH: 437px; POSITION: absolute; TOP: 28px; HEIGHT: 10px
}
#pagenav {
	PADDING-RIGHT: 0px; MARGIN-TOP: 30px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; FONT: 0.85em arial; COLOR: #000000; PADDING-TOP: 10px
}
#pagenav .typing {
	MARGIN-TOP: -7px; FLOAT: right
}
#pagenav INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: verdana
}
#pagenav A {
	BORDER-RIGHT: #849cc6 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #849cc6 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #849cc6 1px solid; COLOR: #203558! important; PADDING-TOP: 2px; BORDER-BOTTOM: #849cc6 1px solid; TEXT-DECORATION: none! important
}
#pagenav A:hover {
	COLOR: #203558! important; BACKGROUND-COLOR: #e5edf9
}
#pagenav SPAN.current {
	BORDER-RIGHT: #5e90c3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #5e90c3 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #5e90c3 1px solid; COLOR: #ffffff! important; PADDING-TOP: 2px; BORDER-BOTTOM: #5e90c3 1px solid; BACKGROUND-COLOR: #5e90c3! important
}
#pagenav .pre {
	MARGIN: 0px 15px
}
#pagenav .next {
	MARGIN-LEFT: 15px
}
.categorylist {
	WIDTH: 100%
}
.categorylist TD {
	VERTICAL-ALIGN: top
}
.categorylist UL {
	LIST-STYLE-IMAGE: none; MARGIN: 0px; LINE-HEIGHT: 18px; LIST-STYLE-TYPE: none
}
.categorylist UL UL {
	LIST-STYLE-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/ul.gif); MARGIN-LEFT: 20px
}
.categorylist UL UL UL {
	LIST-STYLE-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/ulul_c.gif)
}
.categorylist LI {
	MARGIN-BOTTOM: 2px
}
#contacthead {
	FONT-WEIGHT: bold; LEFT: 40px; WIDTH: 220px; COLOR: #f60; POSITION: relative; TOP: 6px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
#contact {
	BORDER-TOP: #f60 3px solid; BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/contact_bg.gif); MARGIN-LEFT: 25px; WIDTH: 500px; PADDING-TOP: 10px; BORDER-BOTTOM: #e7e7e7 3px solid
}
#contact TH {
	PADDING-RIGHT: 6px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; WIDTH: 140px; PADDING-TOP: 2px; TEXT-ALIGN: right
}
#contact TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px
}
#contact .highlight {
	MARGIN: 0px 1px
}
.contact {
	MARGIN: 25px 8px; WIDTH: 460px; TEXT-ALIGN: left
}
.contacthead {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #f60; BORDER-BOTTOM: #f60 3px solid
}
.contactinfo {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 8px; BORDER-BOTTOM: #e7e7e7 3px solid
}
#ads {
	CLEAR: left; PADDING-BOTTOM: 15px
}
#ads .inhouse {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; MARGIN-BOTTOM: 25px; BORDER-LEFT: #e0e0e0 1px solid; BORDER-BOTTOM: #e0e0e0 1px solid; BACKGROUND-COLOR: #fff! important
}
#related #ads {
	PADDING-BOTTOM: 25px; BACKGROUND-COLOR: #fff! important
}
#detailbody #ads {
	TEXT-ALIGN: center
}
#detailbody #relatedinfo {
	MARGIN-BOTTOM: 15px
}
#pagetool {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
#pagetool A {
	PADDING-RIGHT: 40px; PADDING-LEFT: 40px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/icon_pagetool.gif) no-repeat 30px 50%; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#homeright .ss.winstyle2 IMG {
	FLOAT: left; MARGIN-RIGHT: 7px
}
#dcontent .ss.winstyle2 IMG.ssimage {
	FLOAT: left; MARGIN-RIGHT: 7px
}
#related .ss.winstyle2 IMG {
	DISPLAY: block; MARGIN: auto; TEXT-ALIGN: center
}
.ss.paddedbox IMG.ssimage {
	DISPLAY: block; MARGIN: auto; TEXT-ALIGN: center
}
.todaysnew {
	MARGIN: -12px -12px 0px; OVERFLOW: hidden; POSITION: relative; HEIGHT: 2.4em; BACKGROUND-COLOR: #eef6fc
}
.todaysnew H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 0.8em verdana; PADDING-TOP: 0px; POSITION: absolute; TOP: 8px
}
.todaysnew .section {
	MARGIN: 0.5em 3.5em 0px 6.5em
}
.todaysnew .live {
	FONT-SIZE: 0.8em
}
.todaysnew .live A {
	MARGIN-RIGHT: 5px
}
.todaysnew .live .location {
	MARGIN-RIGHT: 30px
}
.todaysnew A.more {
	RIGHT: 5px; FONT: bold 0.8em verdana; POSITION: absolute; TOP: 8px
}
.aliSearchA {
	CLEAR: both; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsBg.gif) #f5f8fb repeat-x 50% top
}
.aliSearchA UL {
	LIST-STYLE-IMAGE: none; MARGIN: 0px 0px 0px 235px; LIST-STYLE-TYPE: none; HEIGHT: 30px
}
.aliSearchA LI {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsLeft.gif) #d6e5ee no-repeat left top; FLOAT: left; MARGIN-RIGHT: 2px
}
.aliSearchA LI A:link {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsRight.gif) #d6e5ee no-repeat right top; PADDING-BOTTOM: 7px; FONT: bold 13px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearchA LI A:hover {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsRight.gif) #d6e5ee no-repeat right top; PADDING-BOTTOM: 7px; FONT: bold 13px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearchA LI A:visited {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsRight.gif) #d6e5ee no-repeat right top; PADDING-BOTTOM: 7px; FONT: bold 13px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearchA .searchBox {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_searchBg.gif) #3f80b1 no-repeat left top; PADDING-BOTTOM: 6px; COLOR: #fff; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.aliSearchA .searchBox A {
	COLOR: #fff
}
.aliSearchA LI.current {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_current_tabsLeft.gif) #93c2de no-repeat left top; HEIGHT: 30px
}
.aliSearchA LI.current A:link {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_current_tabsRight.gif) #93c2de no-repeat right top; COLOR: #172e54! important; TEXT-DECORATION: none
}
.aliSearchA LI.current A:visited {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_current_tabsRight.gif) #93c2de no-repeat right top; COLOR: #172e54! important; TEXT-DECORATION: none
}
.aliSearchA UL LI A:link {
	outline: none
}
.aliSearchA UL LI A:visited {
	outline: none
}
.aliSearchA UL LI A:hover {
	outline: none
}
.aliSearchB {
	CLEAR: both; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearchB_tabsBg.gif) #fff no-repeat left top
}
.aliSearchB UL {
	LIST-STYLE-IMAGE: none; MARGIN: 0px 0px 0px 235px; LIST-STYLE-TYPE: none; HEIGHT: 30px
}
.aliSearchB LI {
	FLOAT: left; MARGIN-RIGHT: 2px
}
.aliSearchB LI A:link {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 7px; FONT: bold 12px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearchB LI A:hover {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 7px; FONT: bold 12px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearchB LI A:visited {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 7px; FONT: bold 12px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearchB .searchBox {
	BORDER-RIGHT: #5f97b3 1px solid; PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearchB_searchBg.gif) #deecf4 repeat-x 50% bottom; PADDING-BOTTOM: 6px; BORDER-LEFT: #5f97b3 1px solid; COLOR: #fff; PADDING-TOP: 6px; BORDER-BOTTOM: #3f799f 1px solid; TEXT-ALIGN: center
}
.aliSearchB .searchBox A {
	COLOR: #081b39
}
.aliSearchB LI.current {
	BORDER-RIGHT: #5f97b3 1px solid; BORDER-TOP: #5f97b3 1px solid; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_current_tabs.gif) #93c2de repeat-x 50% top; BORDER-LEFT: #5f97b3 1px solid; HEIGHT: 30px
}
.aliSearchB LI.current A:link {
	FONT-WEIGHT: bold; COLOR: #172e54! important; TEXT-DECORATION: none
}
.aliSearchB LI.current A:visited {
	FONT-WEIGHT: bold; COLOR: #172e54! important; TEXT-DECORATION: none
}
.aliSearchB UL LI A:link {
	outline: none
}
.aliSearchB UL LI A:visited {
	outline: none
}
.aliSearchB UL LI A:hover {
	outline: none
}
#joinstatabar SPAN.current {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/join_current.gif) no-repeat right 18px; PADDING-BOTTOM: 10px; COLOR: #f60; BORDER-BOTTOM-STYLE: none
}
#joinstatabar SPAN {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; MARGIN: 0px 2px; COLOR: #777; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 4px solid
}
.okmsg {
	BORDER-LEFT: #00ae14 3px solid; BACKGROUND-COLOR: #effef1
}
.errmsg {
	BORDER-LEFT: #f54100 3px solid; BACKGROUND-COLOR: #fff1eb
}
.typingmsg {
	BORDER-LEFT: #ffcd07 3px solid; BACKGROUND-COLOR: #fffedb
}
.nonemsg {
	BORDER-LEFT: #ffffff 3px solid; BACKGROUND-COLOR: #ffffff
}
#reg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
#reg .msgbase {
	FLOAT: left; MARGIN: 5px 0px
}
#reg .msg {
	MARGIN-TOP: 22px; FLOAT: left
}
#reg .msg .nonemsg {
	PADDING-RIGHT: 12px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN-LEFT: 6px; WIDTH: 20em! important; PADDING-TOP: 5px
}
#reg .msg .typingmsg {
	PADDING-RIGHT: 12px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN-LEFT: 6px; WIDTH: 20em! important; PADDING-TOP: 5px
}
#reg .msg .errmsg {
	PADDING-RIGHT: 12px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN-LEFT: 6px; WIDTH: 20em! important; PADDING-TOP: 5px
}
#reg .msg .okmsg {
	PADDING-RIGHT: 12px; PADDING-LEFT: 8px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN-LEFT: 6px; WIDTH: 20em! important; PADDING-TOP: 5px
}
#reg .level {
	DISPLAY: inline
}
#reg .level DIV {
	MARGIN-RIGHT: 5px
}
#menuA {
	MARGIN-BOTTOM: 15px; TEXT-ALIGN: left
}
#menuA H3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 12px/22px arial; COLOR: #fff; PADDING-TOP: 4px
}
#menuA H3 A:link {
	COLOR: white
}
#menuA H3 A:visited {
	COLOR: white
}
#menuA H3 A:hover {
	COLOR: white
}
#menuA UL {
	MARGIN: 0px 0px 10px; FONT: 10px/15px verdana; LIST-STYLE-TYPE: none
}
#menuA UL UL {
	LIST-STYLE-IMAGE: none; MARGIN: 0px
}
#menuA LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; WORD-BREAK: normal; PADDING-TOP: 0px; WORD-WRAP: break-word
}
#menuA LI A:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; TEXT-DECORATION: none
}
#menuA LI A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; TEXT-DECORATION: none
}
#menuA LI LI {
	PADDING-LEFT: 16px; FONT-WEIGHT: lighter; MARGIN: 0px
}
#menuA LI {
	BORDER-TOP: #f4f4f4 1px solid; FONT-SIZE: 10px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_skinB.gif) #e5e5e5 repeat-x 50% top; BORDER-BOTTOM: #bcbcbc 1px solid
}
#menuA LI.current {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_skinB_current.gif) #fed17c repeat-x 50% top
}
#menuA LI LI.current {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #fef0d9
}
#menuA LI A:link {
	COLOR: #5a5a5a
}
#menuA LI A:visited {
	COLOR: #5a5a5a
}
#menuA LI A:hover {
	COLOR: #f26522
}
#menuA LI LI {
	BORDER-TOP: #e7d3b9 1px solid; BACKGROUND: #f8f8f8; BORDER-BOTTOM-COLOR: #f8f8f8
}
#menuA LI LI A:link {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_sub_icon.gif) no-repeat 0px 9px
}
#menuA LI LI A:visited {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_sub_icon.gif) no-repeat 0px 9px
}
#menuA LI LI A:hover {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_sub_icon.gif) no-repeat 0px 9px
}
#menuA IMG {
	BORDER-TOP-STYLE: none; MARGIN-RIGHT: 5px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#resourcebody #menu {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#resourcebody #menu UL {
	FONT: 10px verdana; BACKGROUND-COLOR: #fff
}
#fmnav #menu UL {
	FONT: 10px verdana; BACKGROUND-COLOR: #fff
}
#gsnav #menu UL {
	FONT: 10px verdana; BACKGROUND-COLOR: #fff
}
#menu LI LI A.seeall:link {
	BACKGROUND-POSITION: 25px 10px; PADDING-LEFT: 33px! important; BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/see_all.gif)! important; BACKGROUND-REPEAT: no-repeat
}
#menu LI LI A.seeall:visited {
	BACKGROUND-POSITION: 25px 10px; PADDING-LEFT: 33px! important; BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/see_all.gif)! important; BACKGROUND-REPEAT: no-repeat
}
#menu LI LI A.seeall:hover {
	BACKGROUND-POSITION: 25px 10px; BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/see_all_current.gif)! important; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #fff6cb
}
#menu {
	BORDER-RIGHT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
#menu SPAN {
	COLOR: #666
}
#tpnav #menu SPAN.remark {
	FONT-SIZE: 10px! important; COLOR: #666
}
#menu UL {
	FONT-SIZE: 12px; LIST-STYLE-IMAGE: none; MARGIN: 0px
}
#menu LI {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND-IMAGE: none! important; MARGIN-BOTTOM: 0px! important; PADDING-BOTTOM: 0px! important; WORD-BREAK: normal; PADDING-TOP: 0px! important; LIST-STYLE-TYPE: none! important; WORD-WRAP: break-word
}
#menu LI IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; BORDER-RIGHT-WIDTH: 0px
}
#menu LI A:link {
	PADDING-RIGHT: 7px; BACKGROUND-POSITION: right 50%; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 7px; MIN-HEIGHT: 18px; BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_bg.gif); PADDING-BOTTOM: 3px; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #cecece 1px solid; BACKGROUND-REPEAT: repeat-y; HEIGHT: auto! important; BACKGROUND-COLOR: #e9e9e9; TEXT-DECORATION: none
}
#menu LI A:visited {
	PADDING-RIGHT: 7px; BACKGROUND-POSITION: right 50%; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 7px; MIN-HEIGHT: 18px; BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_bg.gif); PADDING-BOTTOM: 3px; COLOR: #000; PADDING-TOP: 3px; BORDER-BOTTOM: #cecece 1px solid; BACKGROUND-REPEAT: repeat-y; HEIGHT: auto! important; BACKGROUND-COLOR: #e9e9e9; TEXT-DECORATION: none
}
#menu LI A:hover {
	BORDER-TOP: #fff 1px solid; BACKGROUND: #ffd49d; BORDER-BOTTOM: #e6a974 1px solid
}
#resourcebody #menu LI A:hover {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_resource_current.gif)
}
#menu LI A.current:link {
	BORDER-TOP: #fff 1px solid; BACKGROUND: #ffd49d; BORDER-BOTTOM: #e6a974 1px solid
}
#menu LI A.current:visited {
	BORDER-TOP: #fff 1px solid; BACKGROUND: #ffd49d; BORDER-BOTTOM: #e6a974 1px solid
}
#menu LI LI A:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; FONT-SIZE: 0.9em; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_arr.gif) #ffffff no-repeat 10px 7px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; BORDER-BOTTOM: #b8b8b8 1px dotted
}
#menu LI LI A:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; FONT-SIZE: 0.9em; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_arr.gif) #ffffff no-repeat 10px 7px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 4px; BORDER-BOTTOM: #b8b8b8 1px dotted
}
#menu LI LI A:hover {
	BACKGROUND-POSITION: 10px 7px; BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_arr_current.gif)! important; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #fff6cb
}
#menu LI LI A.current:link {
	BACKGROUND-POSITION: 10px 7px; BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_arr_current.gif)! important; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #fff6cb
}
#menu LI LI A.current:visited {
	BACKGROUND-POSITION: 10px 7px; BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_arr_current.gif)! important; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #fff6cb
}
.unlink#menu LI A:link {
	CURSOR: default; COLOR: #666! important; BORDER-BOTTOM: #bcbcbc 2px solid; BACKGROUND-COLOR: #e9e9e9! important
}
.unlink#menu LI A:visited {
	CURSOR: default; COLOR: #666! important; BORDER-BOTTOM: #bcbcbc 2px solid; BACKGROUND-COLOR: #e9e9e9! important
}
.unlink#menu LI A:hover {
	CURSOR: default; COLOR: #666! important; BORDER-BOTTOM: #bcbcbc 2px solid; BACKGROUND-COLOR: #e9e9e9! important
}
.unlink#menu LI LI A:link {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_arr.gif)! important; COLOR: #666! important; BORDER-BOTTOM: #b8b8b8 1px dotted; BACKGROUND-COLOR: #fff! important
}
.unlink#menu LI LI A:visited {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_arr.gif)! important; COLOR: #666! important; BORDER-BOTTOM: #b8b8b8 1px dotted; BACKGROUND-COLOR: #fff! important
}
.unlink#menu LI LI A:hover {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_arr.gif)! important; COLOR: #666! important; BORDER-BOTTOM: #b8b8b8 1px dotted; BACKGROUND-COLOR: #fff! important
}
.unlink#menu LI A.current:link {
	BORDER-BOTTOM: #b0b0b0 2px solid; BACKGROUND-COLOR: #d9d9d9! important
}
.unlink#menu LI A.current:visited {
	BORDER-BOTTOM: #b0b0b0 2px solid; BACKGROUND-COLOR: #d9d9d9! important
}
.unlink#menu LI A.current:hover {
	BORDER-BOTTOM: #b0b0b0 2px solid; BACKGROUND-COLOR: #d9d9d9! important
}
.unlink#menu LI LI A.current:link {
	BORDER-BOTTOM: #b8b8b8 1px dotted; BACKGROUND-COLOR: #efefef! important
}
.unlink#menu LI LI A.current:visited {
	BORDER-BOTTOM: #b8b8b8 1px dotted; BACKGROUND-COLOR: #efefef! important
}
.unlink#menu LI LI A.current:hover {
	BORDER-BOTTOM: #b8b8b8 1px dotted; BACKGROUND-COLOR: #efefef! important
}
.unlink#menu LI LI A.seeall:link {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/see_all.gif)! important
}
.unlink#menu LI LI A.seeall:visited {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/see_all.gif)! important
}
.unlink#menu LI LI A.seeall:hover {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/see_all.gif)! important
}
#menu-mini H3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; MARGIN: 6px 0px 0px; FONT: bold 0.8em verdana; COLOR: #fff; PADDING-TOP: 3px; BORDER-BOTTOM: #b5b5b5 2px solid; BACKGROUND-COLOR: #d15c19
}
#menu-mini UL {
	LIST-STYLE-IMAGE: none; MARGIN: 0px; FONT: 10px verdana; BACKGROUND-COLOR: #fff
}
#menu-mini LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WORD-BREAK: normal; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; WORD-WRAP: break-word
}
#menu-mini LI IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; BORDER-RIGHT-WIDTH: 0px
}
#menu-mini LI A:link {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 5px; MIN-HEIGHT: 18px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_resource_bg.gif) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 2px; HEIGHT: auto! important; TEXT-DECORATION: none
}
#menu-mini LI A:visited {
	PADDING-RIGHT: 1px; DISPLAY: block; PADDING-LEFT: 5px; MIN-HEIGHT: 18px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_resource_bg.gif) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 2px; HEIGHT: auto! important; TEXT-DECORATION: none
}
#menu-mini LI A:hover {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_resource_current.gif)
}
#menu-mini LI LI A:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_arr.gif) #ffffff no-repeat 5px 6px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #b8b8b8 1px dotted
}
#menu-mini LI LI A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_arr.gif) #ffffff no-repeat 5px 6px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #b8b8b8 1px dotted
}
#menu-mini LI LI A:hover {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_arr_current.gif); BACKGROUND-COLOR: #fff6cb
}
#menu-mini LI A.current:link {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_resource_current.gif)
}
#menu-mini LI A.current:visited {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_resource_current.gif)
}
#menu-mini LI LI A.current:link {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_arr_current.gif)! important; BACKGROUND-COLOR: #fff6cb
}
#menu-mini LI LI A.current:visited {
	BACKGROUND-IMAGE: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_arr_current.gif)! important; BACKGROUND-COLOR: #fff6cb
}
.unlink#menu-mini H3 {
	BACKGROUND-COLOR: #999
}
.unlink#menu-mini LI A:link {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_resource_bg.gif); CURSOR: default; COLOR: #777
}
.unlink#menu-mini LI A:visited {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_resource_bg.gif); CURSOR: default; COLOR: #777
}
.unlink#menu-mini LI A:hover {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_resource_bg.gif); CURSOR: default; COLOR: #777
}
.unlink#menu-mini LI A.current:link {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_resource_current.gif)
}
.unlink#menu-mini LI A.current:visited {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_resource_current.gif)
}
.unlink#menu-mini LI A.current:hover {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_resource_current.gif)
}
