#mainNav {
	MARGIN-TOP: 10px; FLOAT: right
}
#mainNav UL {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mainNav LI {
	DISPLAY: block; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/mainNav.gif) #ffffdd no-repeat right 50%; FLOAT: left; MARGIN-RIGHT: 4px
}
#mainNav A:link {
	DISPLAY: block; FONT: bold 11px/20px arial; WIDTH: 83px; COLOR: #4e2207; HEIGHT: 21px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#mainNav A:visited {
	DISPLAY: block; FONT: bold 11px/20px arial; WIDTH: 83px; COLOR: #4e2207; HEIGHT: 21px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#mainNav LI.current {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/mainNavCurrent.gif) #ffffdd no-repeat
}
#mainNav LI.current A:link {
	COLOR: #4c2005
}
#mainNav LI.current A:visited {
	COLOR: #4c2005
}
#mainNav .myAlibaba {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/mainNavMyAlibaba.gif) #ffffdd no-repeat right 50%; WIDTH: 88px
}
#mainNav .myAlibaba A:hover {
	TEXT-DECORATION: underline! important
}
#mainNav .myAlibaba UL {
	BORDER-RIGHT: #e9c94d 1px; PADDING-RIGHT: 3px; BORDER-TOP: #e9c94d 1px; PADDING-LEFT: 5px; Z-INDEX: 100; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/subNavBg.gif) no-repeat right top; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #e9c94d 1px solid; WIDTH: 133px; PADDING-TOP: 10px; BORDER-BOTTOM: #e9c94d 1px solid; POSITION: absolute
}
#mainNav .myAlibaba LI {
	CLEAR: both; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px auto; WIDTH: 130px
}
#mainNav .myAlibaba LI.line {
	BORDER-BOTTOM: #e1e1dc 1px solid
}
#mainNav .myAlibaba LI A:hover {
	BACKGROUND: #fee9b5; TEXT-DECORATION: underline! important
}
#mainNav .myAlibaba LI A:link {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; MARGIN: 0px auto; FONT: bold 11px/20px arial; WIDTH: 120px; PADDING-TOP: 1px; HEIGHT: auto; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#mainNav .myAlibaba LI A:visited {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; MARGIN: 0px auto; FONT: bold 11px/20px arial; WIDTH: 120px; PADDING-TOP: 1px; HEIGHT: auto; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#mainNav .myAlibabaCurrent {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/mainNavMyAlibabaCurrent.gif) #ffffdd no-repeat right 50%; WIDTH: 88px
}
#mainNav .myAlibabaCurrent A:hover {
	TEXT-DECORATION: underline! important
}
#mainNav .myAlibabaCurrent UL {
	BORDER-RIGHT: #bf8719 1px; PADDING-RIGHT: 3px; BORDER-TOP: #bf8719 1px; PADDING-LEFT: 5px; Z-INDEX: 100; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/subNavBgCurrent.gif) no-repeat right top; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #bf8719 1px solid; WIDTH: 133px; PADDING-TOP: 10px; BORDER-BOTTOM: #bf8719 1px solid; POSITION: absolute
}
#mainNav .myAlibabaCurrent LI {
	CLEAR: both; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px auto; WIDTH: 130px
}
#mainNav .myAlibabaCurrent LI.line {
	BORDER-BOTTOM: #e1e1dc 1px solid
}
#mainNav .myAlibabaCurrent LI A:hover {
	BACKGROUND: #fee9b5; TEXT-DECORATION: underline! important
}
#mainNav .myAlibabaCurrent LI A:link {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; MARGIN: 0px auto; FONT: bold 11px/20px arial; WIDTH: 120px; PADDING-TOP: 1px; HEIGHT: auto; TEXT-ALIGN: left; TEXT-DECORATION: none
}
#mainNav .myAlibabaCurrent LI A:visited {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; MARGIN: 0px auto; FONT: bold 11px/20px arial; WIDTH: 120px; PADDING-TOP: 1px; HEIGHT: auto; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.subNav {
	PADDING-LEFT: 10px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/subnav_bg.gif) #3a5c92 no-repeat left top; BORDER-BOTTOM: #d7e3f3 6px solid; HEIGHT: 29px
}
.subNav UL {
	FLOAT: left; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 3px
}
.subNav LI {
	PADDING-LEFT: 3px; Z-INDEX: 1; FLOAT: left; MARGIN: 0px 0px 0px -1px; LIST-STYLE-TYPE: none; POSITION: relative
}
.subNav LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/subnav_text_right.gif) no-repeat right 50%; PADDING-BOTTOM: 8px; FONT: bold 12px/100% arial; PADDING-TOP: 8px
}
.subNav LI.current {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/subnav_tab_left.gif) #d7e3f3 no-repeat left top
}
.subNav LI.current A {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/subnav_tab_right.gif) no-repeat right top; COLOR: #003663! important
}
.subNav LI.unlink A {
	COLOR: #9eabc2! important
}
.subNav LI A:link {
	MARGIN-LEFT: -1px; COLOR: #fff
}
.subNav LI A:hover {
	MARGIN-LEFT: -1px; COLOR: #fff
}
.subNav LI A:visited {
	MARGIN-LEFT: -1px; COLOR: #fff
}
.subNav LI.subNavRight {
	FLOAT: right
}
.subNav LI.subNavRight A {
	PADDING-LEFT: 15px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/navigation/subNavRight_pic.gif) no-repeat 0px 10px; COLOR: #ffdd01
}
.subNav .jump {
	BORDER-RIGHT: #8cafcf 1px solid; PADDING-RIGHT: 8px! important; BORDER-TOP: #8cafcf 1px; PADDING-LEFT: 8px! important; Z-INDEX: 2; BACKGROUND: #e4edf6; LEFT: -1px; PADDING-BOTTOM: 8px! important; BORDER-LEFT: #8cafcf 1px solid; WIDTH: 13em; PADDING-TOP: 8px! important; BORDER-BOTTOM: #8cafcf 1px solid; POSITION: absolute; TOP: 27px
}
.subNav .jump UL {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.subNav .jump LI {
	FLOAT: left; MARGIN-BOTTOM: 8px
}
.subNav .jump LI LI {
	MARGIN-BOTTOM: 0px
}
.subNav .jump LI A {
	BORDER-RIGHT: #e4edf6 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e4edf6 1px solid; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 3px; FONT: bold 0.85em verdana; MARGIN-LEFT: 0px! important; BORDER-LEFT: #e4edf6 1px solid; COLOR: #000! important; PADDING-TOP: 3px; BORDER-BOTTOM: #e4edf6 1px solid
}
.subNav .jump LI A:hover {
	BORDER-RIGHT: #bdcee0 1px solid; BORDER-TOP: #bdcee0 1px solid; BORDER-LEFT: #bdcee0 1px solid; COLOR: #f60! important; BORDER-BOTTOM: #bdcee0 1px solid; BACKGROUND-COLOR: #fff! important
}
.subNav .jump LI A {
	PADDING-LEFT: 5px; WIDTH: 15em
}
.subNav .jump LI LI A {
	FONT-WEIGHT: lighter
}
.subNav .last.jump LI {
	MARGIN-BOTTOM: 0px! important
}
.subNav .last.jump LI A {
	FONT-WEIGHT: lighter
}
.subNav STRONG {
	PADDING-LEFT: 4px; FONT: bold 11px verdana; COLOR: #000! important
}
.tabsH {
	CLEAR: both
}
.tabsH UL {
	MARGIN: 0px; LIST-STYLE-TYPE: none; HEIGHT: 25px
}
.tabsH LI {
	FLOAT: left; MARGIN-RIGHT: 2px
}
.tabsH LI A {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; FONT: 12px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; PADDING-TOP: 8px
}
.tabsH LI A:hover {
	COLOR: #f60! important
}
.tabsH LI A:visited {
	COLOR: #039
}
.tabsH LI A:link {
	COLOR: #455b80
}
.tabsH .tabsRight {
	FLOAT: right; MARGIN: 2px 2px 0px 0px
}
.format1.tabsH {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinA_line.gif) #fff repeat-x left top
}
.format1.tabsH LI {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinA_left.gif) no-repeat left top
}
.format1.tabsH LI A:link {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinA_right.gif) no-repeat right top
}
.format1.tabsH LI A:visited {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinA_right.gif) no-repeat right top
}
.format1.tabsH LI A:hover {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinA_right.gif) no-repeat right top
}
.format1.tabsH LI.current {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinA_current_left.gif) #fff no-repeat left top
}
.format1.tabsH LI.current A {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinA_current_right.gif) #fff no-repeat right top; PADDING-TOP: 9px
}
.format1.tabsH .box {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 12px; BORDER-TOP: #ccc 1px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 12px; BORDER-BOTTOM: #ccc 1px solid
}
.format2.tabsH {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_line.gif) repeat-x 50% top
}
.format2.tabsH LI {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_left.gif) #d3e0f0 no-repeat left top
}
.format2.tabsH LI A:link {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_right.gif) #d3e0f0 no-repeat right top; COLOR: #081b39
}
.format2.tabsH LI A:visited {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_right.gif) #d3e0f0 no-repeat right top; COLOR: #081b39
}
.format2.tabsH LI A:hover {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_right.gif) #d3e0f0 no-repeat right top; COLOR: #081b39
}
.format2.tabsH LI.current {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_current_left.gif) #4a83b1 no-repeat left top
}
.format2.tabsH LI.current A {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_current_right.gif) #4a83b1 no-repeat right top; COLOR: #fff! important; TEXT-DECORATION: none
}
.format2.tabsH LI.current A:hover {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/tab/tabs_skinB_current_right.gif) #4a83b1 no-repeat right top; COLOR: #fff! important; TEXT-DECORATION: none
}
.format2.tabsH .box {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
.menu {
	MARGIN-BOTTOM: 15px
}
.menu H3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: bold 12px/22px arial; COLOR: #fff; PADDING-TOP: 4px
}
.menu H3 A:link {
	COLOR: white
}
.menu H3 A:visited {
	COLOR: white
}
.menu H3 A:hover {
	COLOR: white
}
.menu UL {
	MARGIN: 0px 0px 10px; FONT: 11px/15px arial; LIST-STYLE-TYPE: none
}
.menu UL UL {
	MARGIN: 0px
}
.menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WORD-BREAK: normal; PADDING-TOP: 0px; WORD-WRAP: break-word
}
.menu LI IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 4px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; PADDING-TOP: 4px; BORDER-RIGHT-WIDTH: 0px
}
.menu LI A:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.menu LI A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.menu LI LI {
	PADDING-LEFT: 16px; FONT-WEIGHT: lighter; MARGIN: 0px
}
.menuSkinA.menu H3 {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_skinA_h3.gif) #5e90c3 repeat-x; BORDER-BOTTOM: #587eab 1px solid
}
.menuSkinA.menu LI {
	BORDER-TOP: #f4f7fc 1px solid; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_skinA.gif) #d5e3f5 repeat-x 50% top; BORDER-BOTTOM: #a2b7d6 1px solid
}
.menuSkinA.menu LI.current {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BACKGROUND: #fef0d9; BORDER-BOTTOM: #a2b7d6 1px solid
}
.menuSkinA.menu LI A:link {
	COLOR: #081b39
}
.menuSkinA.menu LI A:visited {
	COLOR: #081b39
}
.menuSkinA.menu LI A:hover {
	COLOR: #f26522
}
.menuSkinA.menu LI LI {
	BORDER-TOP: #d4ddeb 1px solid; BACKGROUND: #f4f7fe; BORDER-BOTTOM-COLOR: #f4f7fe
}
.menuSkinA.menu LI LI A:link {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_sub_icon.gif) no-repeat 0px 9px
}
.menuSkinA.menu LI LI A:visited {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_sub_icon.gif) no-repeat 0px 9px
}
.menuSkinA.menu LI LI A:hover {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_sub_icon.gif) no-repeat 0px 9px
}
.menuSkinB.menu H3 {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_skinA_h3.gif) #5e90c3 repeat-x; BORDER-BOTTOM: #587eab 1px solid
}
.menuSkinB.menu LI {
	BORDER-TOP: #eaeaea 1px solid; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_skin_titleB.gif) #eaeaea repeat-x 50% top; BORDER-BOTTOM: #d0d0d0 1px solid
}
.menuSkinB.menu LI.current {
	BORDER-TOP-WIDTH: 0px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_skinA_current.gif) #fff8c3 repeat-x 50% top; BORDER-BOTTOM: #a2b7d6 1px solid
}
.menuSkinB.menu A {
	PADDING-LEFT: 50px; COLOR: #333333! important
}
.menuSkinB.menu LI A:link {
	TEXT-DECORATION: none
}
.menuSkinA.menu LI A:visited {
	TEXT-DECORATION: none
}
.menuSkinB.menu LI A:hover {
	COLOR: #ff7300! important
}
.menuSkinB.menu LI LI {
	BORDER-TOP: #f2ead6 1px solid; BACKGROUND: #fffdf3; BORDER-BOTTOM-COLOR: #fffdf3
}
.menuSkinB.menu LI LI A:link {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_sub_icon.gif) no-repeat 0px 9px
}
.menuSkinB.menu LI LI A:visited {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_sub_icon.gif) no-repeat 0px 9px
}
.menuSkinB.menu LI LI A:hover {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/menu/menu_sub_icon.gif) no-repeat 0px 9px
}
.pageNav {
	PADDING-RIGHT: 0px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; FONT: 0.85em arial; OVERFLOW: hidden; COLOR: #000000; PADDING-TOP: 10px; ZOOM: 1
}
.pageNav .typing {
	FLOAT: right
}
.pageNav INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: verdana
}
.pageNav A {
	BORDER-RIGHT: #849cc6 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #849cc6 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #849cc6 1px solid; COLOR: #203558! important; LINE-HEIGHT: 2.2em; PADDING-TOP: 2px; BORDER-BOTTOM: #849cc6 1px solid; TEXT-DECORATION: none! important
}
.pageNav A:hover {
	COLOR: #203558! important; BACKGROUND-COLOR: #e5edf9
}
.pageNav SPAN.current {
	BORDER-RIGHT: #5e90c3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #5e90c3 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #5e90c3 1px solid; COLOR: #ffffff! important; PADDING-TOP: 2px; BORDER-BOTTOM: #5e90c3 1px solid; BACKGROUND-COLOR: #5e90c3! important
}
.pageNav .pre {
	MARGIN: 0px 10px; WHITE-SPACE: nowrap
}
.pageNav .next {
	MARGIN: 0px 10px; WHITE-SPACE: nowrap
}
.top.pageNav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; PADDING-TOP: 0px
}
.top.pageNav A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.top.pageNav .pre {
	DISPLAY: block; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/listing/btn_pageNav.gif) no-repeat; FLOAT: right; OVERFLOW: hidden; WIDTH: 40px; TEXT-INDENT: -9999px; HEIGHT: 15px
}
.top.pageNav .next {
	DISPLAY: block; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/listing/btn_pageNav.gif) no-repeat; FLOAT: right; OVERFLOW: hidden; WIDTH: 40px; TEXT-INDENT: -9999px; HEIGHT: 15px
}
.top.pageNav .pre {
	MARGIN: 0px 5px 0px 0px; WIDTH: 34px
}
.top.pageNav .next {
	MARGIN: 0px
}
.top.pageNav SPAN.pre {
	BACKGROUND-POSITION: 0px -50px
}
.top.pageNav SPAN.next {
	BACKGROUND-POSITION: -50px -50px
}
.top.pageNav A.pre {
	BACKGROUND-POSITION: 0px 0px
}
.top.pageNav A.next {
	BACKGROUND-POSITION: -50px 0px
}
.top.pageNav .hint {
	DISPLAY: block; FLOAT: right; MARGIN-RIGHT: 5px
}
.searchBox {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; PADDING-TOP: 12px; TEXT-ALIGN: center
}
.searchBox UL {
	FLOAT: right; MARGIN: 0px; FONT: 0.8em verdana; TEXT-ALIGN: left
}
.searchBox LI {
	LINE-HEIGHT: 10px
}
.searchSkinA.searchBox {
	BORDER-RIGHT: #73a4be 1px solid; BORDER-TOP: #73a4be 1px solid; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/search_bg.gif) #bfd8e9 50% top; BORDER-LEFT: #73a4be 1px solid; COLOR: #081b39; BORDER-BOTTOM: #3f799f 1px solid
}
.searchSkinB.searchBox {
	BORDER-RIGHT: #c4d1e5 1px solid; BORDER-TOP: #c4d1e5 1px solid; MARGIN-TOP: 50px; BORDER-LEFT: #c4d1e5 1px solid; COLOR: #3d5378; BORDER-BOTTOM: #c4d1e5 1px solid; BACKGROUND-COLOR: #ffffff! important
}
.searchSkinC.searchBox {
	BACKGROUND: #e6f0f7; BORDER-BOTTOM: #b6cddd 1px solid
}
.aliSearchA {
	CLEAR: both; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsBg.gif) #f5f8fb repeat-x 50% top
}
.aliSearchA UL {
	LIST-STYLE-IMAGE: none; MARGIN: 0px 0px 0px 235px; LIST-STYLE-TYPE: none; HEIGHT: 30px
}
.aliSearchA LI {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsLeft.gif) #d6e5ee no-repeat left top; FLOAT: left; MARGIN-RIGHT: 2px
}
.aliSearchA LI A:link {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsRight.gif) #d6e5ee no-repeat right top; PADDING-BOTTOM: 7px; FONT: bold 13px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearchA LI A:hover {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsRight.gif) #d6e5ee no-repeat right top; PADDING-BOTTOM: 7px; FONT: bold 13px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearchA LI A:visited {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_tabsRight.gif) #d6e5ee no-repeat right top; PADDING-BOTTOM: 7px; FONT: bold 13px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearchA .searchBox {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_searchBg.gif) #93c2de no-repeat left top; PADDING-BOTTOM: 6px; COLOR: #fff; PADDING-TOP: 6px; TEXT-ALIGN: center
}
.aliSearchA .searchBox A {
	COLOR: #fff
}
.aliSearchA LI.current {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_current_tabsLeft.gif) #93c2de no-repeat left top; HEIGHT: 30px
}
.aliSearchA LI.current A:link {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_current_tabsRight.gif) #93c2de no-repeat right top; COLOR: #172e54! important; TEXT-DECORATION: none
}
.aliSearchA LI.current A:visited {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_current_tabsRight.gif) #93c2de no-repeat right top; COLOR: #172e54! important; TEXT-DECORATION: none
}
.aliSearchA UL LI A:link {
	outline: none
}
.aliSearchA UL LI A:visited {
	outline: none
}
.aliSearchA UL LI A:hover {
	outline: none
}
.aliSearchB {
	CLEAR: both; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearchB_tabsBg.gif) #fff no-repeat left top
}
.aliSearchB UL {
	LIST-STYLE-IMAGE: none; MARGIN: 0px 0px 0px 235px; LIST-STYLE-TYPE: none; HEIGHT: 30px
}
.aliSearchB LI {
	FLOAT: left; MARGIN-RIGHT: 2px
}
.aliSearchB LI A:link {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 7px; FONT: bold 12px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearchB LI A:hover {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 7px; FONT: bold 12px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearchB LI A:visited {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 7px; FONT: bold 12px/100% arial; MARGIN-LEFT: 2px; WIDTH: auto; COLOR: #455b80; PADDING-TOP: 7px
}
.aliSearchB .searchBox {
	BORDER-RIGHT: #5f97b3 1px solid; PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearchB_searchBg.gif) #deecf4 repeat-x 50% bottom; PADDING-BOTTOM: 6px; BORDER-LEFT: #5f97b3 1px solid; COLOR: #fff; PADDING-TOP: 6px; BORDER-BOTTOM: #3f799f 1px solid; TEXT-ALIGN: center
}
.aliSearchB .searchBox A {
	COLOR: #081b39
}
.aliSearchB LI.current {
	BORDER-RIGHT: #5f97b3 1px solid; BORDER-TOP: #5f97b3 1px solid; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/aliSearch_current_tabs.gif) #93c2de repeat-x 50% top; BORDER-LEFT: #5f97b3 1px solid; HEIGHT: 30px
}
.aliSearchB LI.current A:link {
	FONT-WEIGHT: bold; COLOR: #172e54! important; TEXT-DECORATION: none
}
.aliSearchB LI.current A:visited {
	FONT-WEIGHT: bold; COLOR: #172e54! important; TEXT-DECORATION: none
}
.aliSearchB UL LI A:link {
	outline: none
}
.aliSearchB UL LI A:visited {
	outline: none
}
.aliSearchB UL LI A:hover {
	outline: none
}
.crumb {
	CLEAR: both; MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
.global.crumb {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; FONT: 0.8em verdana; PADDING-TOP: 0px
}
.global.crumb H1 {
	DISPLAY: inline; FONT: bold 1em verdana
}
.stepGuide.crumb SPAN.current {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/join_current.gif) no-repeat right 18px; PADDING-BOTTOM: 10px; COLOR: #f60; BORDER-BOTTOM-STYLE: none
}
.stepGuide.crumb SPAN {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; MARGIN: 0px 2px; COLOR: #777; PADDING-TOP: 3px; BORDER-BOTTOM: #ccc 4px solid
}
.stepGuide.crumb {
	TEXT-ALIGN: right
}
.stepGuideMainRegUser.crumb SPAN.current {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/main_reg_join_current.gif) no-repeat right bottom; PADDING-BOTTOM: 5px; OVERFLOW: hidden; COLOR: #f60; MARGIN-RIGHT: 15px; PADDING-TOP: 0px; BORDER-BOTTOM-STYLE: none
}
.stepGuideMainRegUser.crumb SPAN {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/main_reg_join.gif) no-repeat right bottom; PADDING-BOTTOM: 5px; COLOR: #777; MARGIN-RIGHT: 15px; PADDING-TOP: 0px; BORDER-BOTTOM-STYLE: none
}
.stepGuideMainRegUser.crumb SPAN.current STRONG {
	FONT-SIZE: 24px
}
.stepGuideMainRegUser.crumb {
	MARGIN-BOTTOM: 10px; TEXT-ALIGN: left
}
.stepGuideMainRegUser.crumb IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px
}
.history {
	MARGIN-BOTTOM: 15px; BACKGROUND-COLOR: #ccc
}
.channelTitle STRONG {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 17px; MARGIN: 6px 19px 0px; COLOR: #fff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.channelTitle STRONG A {
	COLOR: #fff; TEXT-DECORATION: none
}
.channelTitle STRONG A:link {
	COLOR: #fff
}
.channelTitle STRONG A:visited {
	COLOR: #fff
}
.channelTitle STRONG A:hover {
	COLOR: #fff
}
.channelTitle .titlename {
	DISPLAY: inline; FLOAT: left; HEIGHT: 31px; TEXT-ALIGN: center
}
.channelTitle .shadow {
	FLOAT: left; WIDTH: 148px; HEIGHT: 31px
}
.channelTitleRight {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.titleSkinA.channelTitle {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/title/title_background.gif) #e6ecf6 repeat-x; MARGIN-BOTTOM: 10px; VERTICAL-ALIGN: bottom; HEIGHT: 32px
}
.titleSkinA.channelTitle .titlename {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/title/title_current.gif) #437caf repeat-x
}
.titleSkinA.channelTitle .shadow {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/title/title_shadow.gif) no-repeat left top
}
.titleSkinB.channelTitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/title/titleB_background.gif) #fae9c4 repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: bottom; PADDING-TOP: 0px; HEIGHT: 31px
}
.titleSkinB.channelTitle .titlename {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/title/titleB_current.gif) #f36722 repeat-x
}
.titleSkinB.channelTitle .shadow {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/title/titleB_shadow.gif) no-repeat left top
}
.titleSkinB.channelTitle .channelTitleRight {
	BACKGROUND: url(http://img.alibaba.com/images/eng/style/css_images/title/titleB_shadow_R.gif) no-repeat right top
}
.clearfix:unknown {
	CLEAR: both; DISPLAY: block; FONT-SIZE: 0px; VISIBILITY: hidden; LINE-HEIGHT: 0; HEIGHT: 0px; content: "."
}
.clearfix {
	ZOOM: 1
}
.clearfix {
	DISPLAY: block; _height: 1%
}
